@model LIMS.Web.Areas.Admin.Models.Organization.OtherOrganizationModel
@inject AdminAreaSettings adminAreaSettings
@{
    //page title
    ViewBag.Title = "Organization";
}
<form method="post" asp-action="Create">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">


                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />

                <partial name="_CreateOrEdit" model="Model" />
                <div class="actions">
                    <center>
                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        
                        <vc:admin-widget widget-zone="customer_details_buttons" additional-data="null" />
                    </center>

                </div>
            </div>
        </div>
    </div>
</form>

