@using LIMS.Web.Areas.Admin.Models.GeneralCMS 
@model ContactUsModel
<div class="x_content form">
    <div class="form-row">
        <div class="form-body">
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="MinistryName" />
                    <admin-input asp-for="MinistryName" />
                    <span asp-validation-for="MinistryName"></span>

                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="Department" />
                    <admin-input asp-for="Department" />
                    <span asp-validation-for="Department"></span>

                </div>
            </div>

            <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="OfficeName" />
                    <admin-input asp-for="OfficeName" />
                    <span asp-validation-for="OfficeName"></span>

                </div>
            </div>

              <div class="col-md-2 col-sm-2">

                <div class="form-group">
                    <admin-label asp-for="Phone1" />
                    <admin-input asp-for="Phone1" />
                    <span asp-validation-for="Phone1"></span>

                </div>
            </div>

              <div class="col-md-2 col-sm-2">

                <div class="form-group">
                    <admin-label asp-for="Phone2" />
                    <admin-input asp-for="Phone2" />
                    <span asp-validation-for="Phone2"></span>

                </div>
            </div>

              <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="Email1" />
                    <admin-input asp-for="Email1" />
                    <span asp-validation-for="Email1"></span>

                </div>
            </div>

              <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="Email2" />
                    <admin-input asp-for="Email2" />
                    <span asp-validation-for="Email2"></span>

                </div>
            </div>

              <div class="col-md-4 col-sm-4">

                <div class="form-group">
                    <admin-label asp-for="OpeningHours" />
                    <admin-input asp-for="OpeningHours" />
                    <span asp-validation-for="OpeningHours"></span>

                </div>
            </div>

              <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="Address" />
                    <admin-input asp-for="Address" />
                    <span asp-validation-for="Address"></span>

                </div>
            </div>

              <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="Extension" />
                    <admin-input asp-for="Extension" />
                    <span asp-validation-for="Extension"></span>

                </div>
            </div>   <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="Fax" />
                    <admin-input asp-for="Fax" />
                    <span asp-validation-for="Fax"></span>

                </div>
            </div>   <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="FacebookUrl" />
                    <admin-input asp-for="FacebookUrl" />
                    <span asp-validation-for="FacebookUrl"></span>

                </div>
            </div>   <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="TweeterUrl" />
                    <admin-input asp-for="TweeterUrl" />
                    <span asp-validation-for="TweeterUrl"></span>

                </div>
            </div>   <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="WebsiteUrl" />
                    <admin-input asp-for="WebsiteUrl" />
                    <span asp-validation-for="WebsiteUrl"></span>

                </div>
            </div>  
           
        </div>
    </div>
</div>


