@using LIMS.Web.Areas.Admin.Models.GeneralCMS
@model EmployeeModel
<div class="x_content form">
    <div class="form-row">
        <div class="form-body">

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label col-md-12">Serial no</label>
                    <admin-input asp-for="SerialNo" />
                    <span asp-validation-for="SerialNo"></span>
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="Type" />
                    <admin-select asp-for="Type" asp-items="@ViewBag.Type"></admin-select>
                    <span asp-validation-for="Type"></span>

                </div>
            </div>
            @*<div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="Salutation" />
                <admin-input asp-for="Salutation" />
                <span asp-validation-for="Salutation"></span>

            </div>
        </div>*@
            <div class="col-md-3">
                <div class="form-group">
                    <admin-label asp-for="Name" />
                    <admin-input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="PIS" />
                    <admin-input asp-for="PIS" />
                    <span asp-validation-for="PIS"></span>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <admin-label asp-for="Designation" />
                    <admin-input asp-for="Designation" />
                    <span asp-validation-for="Designation"></span>
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="IsInformationOfficer"></admin-label><br />
                    <admin-input asp-for="IsInformationOfficer" />
                    <span asp-validation-for="IsInformationOfficer"></span>

                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="IsOfficeChief"></admin-label><br />
                    <admin-input asp-for="IsOfficeChief" />
                    <span asp-validation-for="IsOfficeChief"></span>

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <admin-label asp-for="OfficePhone" />
                    <admin-input asp-for="OfficePhone" />
                    <span asp-validation-for="OfficePhone"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <admin-label asp-for="Phone2" />
                    <admin-input asp-for="Phone2" />
                    <span asp-validation-for="Phone2"></span>
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="Extension" />
                    <admin-input asp-for="Extension" />
                    <span asp-validation-for="Extension"></span>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <admin-label asp-for="Email1" />
                    <admin-input asp-for="Email1" />
                    <span asp-validation-for="Email1"></span>
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <admin-label asp-for="Email2" />
                    <admin-input asp-for="Email2" />
                    <span asp-validation-for="Email2"></span>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <admin-label asp-for="Address" />
                    <admin-input asp-for="Address" />
                    <span asp-validation-for="Address"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <admin-label asp-for="DesignationLabel" />
                    <admin-input asp-for="DesignationLabel" />
                    <span asp-validation-for="DesignationLabel"></span>
                </div>
            </div>
            <div class="col-md-1">
    <div class="form-group">
        <admin-label asp-for="PositionOfLabel" />
        <select class="form-control" asp-for="PositionOfLabel">
            <option value="1">Top</option>
            <option value="2">Bottom</option>
        </select>
        @*<admin-input asp-for="PositionOfLabel" />*@
        <span asp-validation-for="PositionOfLabel"></span>
    </div>
</div>

            @*<div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="FacebookUrl" />
                <admin-input asp-for="FacebookUrl" />
                <span asp-validation-for="FacebookUrl"></span>

            </div>
        </div>
        <div class="col-md-3">*@

            @*<div class="form-group">
                <admin-label asp-for="TweeterUrl" />
                <admin-input asp-for="TweeterUrl" />
                <span asp-validation-for="TweeterUrl"></span>

            </div>
        </div>*@
            @*<div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="Status" />
                <admin-input asp-for="Status" />
                <span asp-validation-for="Status"></span>

            </div>
        </div>*@
            <div class="col-md-3">

                <div class="form-group">
                    <label asp-for="IsActive">Is active</label><br />
                    <label>
                        Yes
                        <input type="radio" asp-for="IsActive" value="true" />
                    </label>
                    <label>
                       No
                        <input type="radio"  asp-for="IsActive" value="false" />
                    </label>
                    <span asp-validation-for="IsActive"></span>

                </div>
            </div>



        </div>
    </div>
</div>


