<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Dashboard" LIMSResource="Admin.Dashboard" controller="Dashboard" action="Index">
    <siteMapNode SystemName="Dashboard" LIMSResource="Admin.Dashboard" controller="Dashboard" action="Index" IconClass="icon-home">
      <!--<siteMapNode SystemName="Dashboard" LIMSResource="Admin.Dashboard.Statistics" controller="Home" action="Statistics" PermissionNames="ManageReports" IconClass="icon-bulb"/>-->
    </siteMapNode>
    <siteMapNode SystemName="Customers" LIMSResource="Admin.UserManagement" PermissionNames="User" IconClass="icon-users" >
      <siteMapNode SystemName="Customers" LIMSResource="Admin.User" PermissionNames="User" controller="User" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Organization" LIMSResource="Admin.Organization" PermissionNames="AccessInventory" controller="Organization" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="OtherOrganization" LIMSResource="Admin.OtherOrganization" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="OtherOrganization" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Technician" LIMSResource="Admin.ServiceProvider" PermissionNames="User" controller="ServiceProvider" action="Index" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Organization Data" LIMSResource="Admin.OrganizationData" PermissionNames="AccessLssReport,AccessVhlsecReport" IconClass="icon-users" >
      <siteMapNode SystemName="Hatchery" LIMSResource="Admin.Hatchery" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="Hatchery" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FeedIndustry" LIMSResource="Admin.FeedIndustry" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="FeedIndustry" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FeedShop" LIMSResource="Admin.FeedShop" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="FeedShop" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MilkCooperative" LIMSResource="Admin.MilkCooperative" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="MilkCooperative" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="DiaryIndustry" LIMSResource="Admin.DiaryIndustry" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="DiaryIndustry" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="DiaryShop" LIMSResource="Admin.DiaryShop" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="DiaryShop" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ChillingCenter" LIMSResource="Admin.ChillingCenter" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="ChillingCenter" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AnimalCollection" LIMSResource="Admin.AnimalCollection" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="AnimalCollection" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MeatProcessing" LIMSResource="Admin.MeatProcessing" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="MeatProcessing" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MeatShop" LIMSResource="Admin.MeatShop" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="MeatShop" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FishSrot" LIMSResource="Admin.FishSrot" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="FishSrot" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="LivestockResearchCenter" LIMSResource="Admin.LivestockResearchCenter" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="LivestockResearchCenter" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Ngo" LIMSResource="Admin.Ngo" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="Ngo" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="TechSchool" LIMSResource="Admin.TechSchool" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="TechSchool" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="CanelClube" LIMSResource="Admin.CanelClube" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="CanelClube" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="VetClinic" LIMSResource="Admin.VetClinic" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="VetClinic" action="Index" IconClass="fa fa-dot-circle-o"/>

    </siteMapNode>



    <siteMapNode SystemName="MasterSetup" LIMSResource="Admin.MasterSetup" PermissionNames="AccessMasterSetup" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Moamac" LIMSResource="Admin.MasterSetup.Moamac" PermissionNames="AccessMasterSetup" controller="Moamac" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Dolfd" LIMSResource="Admin.Dolfd" PermissionNames="AccessMasterSetup" controller="Dolfd" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="NLBO" LIMSResource="Admin.Nlbo" PermissionNames="AccessMasterSetup" controller="NLBO" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Vhlsec" LIMSResource="Admin.Vhlsec" PermissionNames="AccessMasterSetup" controller="Vhlsec" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="LSS" LIMSResource="Admin.LSS" PermissionNames="AccessMasterSetup" controller="Lss" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="VetGraduate" LIMSResource="Admin.MasterSetup.vetgraduate" PermissionNames="AccessMasterSetup" controller="vetgraduate" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ParaProfession" LIMSResource="Admin.MasterSetup.ParaProfression" PermissionNames="AccessMasterSetup" controller="ParaProfession" action="List" IconClass="fa fa-dot-circle-o"/>

      <siteMapNode SystemName="Species" LIMSResource="Admin.MasterSetup.Species" PermissionNames="AccessMasterSetup" controller="Species" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Breed" LIMSResource="Admin.MasterSetup.Breed" PermissionNames="AccessMasterSetup" controller="Breed" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AgeCategory" LIMSResource="Admin.MasterSetup.AgeCategory" PermissionNames="AccessMasterSetup" controller="AnimalType" action="Index" IconClass="fa fa-dot-circle-o"/>

      <siteMapNode SystemName="Vaccination" LIMSResource="Admin.MasterSetup.VaccinationType" PermissionNames="AccessMasterSetup" controller="VaccineType" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ServiceProvider" LIMSResource="Admin.MasterSetup.ServiceProvider" PermissionNames="AccessMasterSetup" controller="Prototype" action="ServiceProvider" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Unit" LIMSResource="Admin.MasterSetup.Unit" PermissionNames="AccessMasterSetup" controller="Unit" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FiscalYear" LIMSResource="Admin.MasterSetup.Fiscalyear" PermissionNames="AccessMasterSetup" controller="FiscalYear" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Disease" LIMSResource="Admin.MasterSetup.Disease" PermissionNames="AccessMasterSetup" controller="Disease" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="EarTag" LIMSResource="Admin.MasterSetup.EarTag" PermissionNames="AccessMasterSetup" controller="AnimalRegistration" action="EarTag" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="RationBalance" LIMSResource="Admin.MasterSetup.RationBalance" PermissionNames="AccessMasterSetup" controller="RationBalance" action="Index" IconClass="fa fa-dot-circle-o"/>
    
    </siteMapNode>

     <siteMapNode SystemName="WebsiteCMS" LIMSResource="Admin.WebsiteCMS" PermissionNames="AccessGeneralCMS" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="MainMenu" LIMSResource="Admin.WebsiteCMS.MainMenu" PermissionNames="AccessDynamicMenu" controller="MainMenu" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="SubMenu" LIMSResource="Admin.WebsiteCMS.SubMenu" PermissionNames="AccessDynamicMenu" controller="SubMenu" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="SubSubMenu" LIMSResource="Admin.WebsiteCMS.SubSubMenu" PermissionNames="AccessDynamicMenu" controller="SubSubMenu" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Banner" LIMSResource="Admin.WebsiteCMS.Banner" PermissionNames="AccessGeneralCMS" controller="Banner" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ContactUs" LIMSResource="Admin.WebsiteCMS.ContactUs" PermissionNames="AccessGeneralCMS" controller="ContactUs" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Employee" LIMSResource="Admin.WebsiteCMS.Employee" PermissionNames="AccessGeneralCMS" controller="Employee" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Gallery" LIMSResource="Admin.WebsiteCMS.Gallery" PermissionNames="AccessGeneralCMS" controller="Gallery" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ImportantLinks" LIMSResource="Admin.WebsiteCMS.ImportantLinks" PermissionNames="AccessGeneralCMS" controller="ImportantLinks" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="PageContent" LIMSResource="Admin.WebsiteCMS.PageContent" PermissionNames="AccessGeneralCMS" controller="PageContent" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="NewsEvent" LIMSResource="Admin.WebsiteCMS.NewsEvent" PermissionNames="AccessNewsEventTender" controller="NewsEvent" action="Index" IconClass="fa fa-dot-circle-o"/>
    
    </siteMapNode>
      
    <siteMapNode SystemName="AInR" LIMSResource="Admin.AInR" PermissionNames="AccessAnimalRegistration" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Farm" LIMSResource="Admin.AInR.Farm" PermissionNames="AccessAnimalRegistration" controller="Farm" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Owner" LIMSResource="Admin.AInR.Owner" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="Owner" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Animal" LIMSResource="Admin.AInR.AnimalRegistration" PermissionNames="AccessAnimalRegistration" controller="AnimalRegistration" action="List" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    
    <siteMapNode SystemName="Breeding" LIMSResource="Admin.Breeding" PermissionNames="AccessBreeding"  IconClass="fa fa-sitemap">
      <siteMapNode SystemName="HeatRecording" LIMSResource="Admin.Breeding.HeatRecording" PermissionNames="AccessBreeding"  IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AI" LIMSResource="Admin.Breeding.AI" PermissionNames="AccessBreeding" controller="AI" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="PregnencyDiagnosis" LIMSResource="Admin.Breeding.PregnencyDiagnosis" PermissionNames="AccessBreeding" controller="PregnencyDiagnosis" action="Index"  IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Abortion" LIMSResource="Admin.Breeding.Abortion" PermissionNames="AccessBreeding"  IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Semen" LIMSResource="Admin.Health.SemenDistribution" controller="SemenDistribution" action="Index"  PermissionNames="NlboOnly"  IconClass="fa fa-dot-circle-o"/>

    </siteMapNode>
    
      <siteMapNode SystemName="Health" LIMSResource="Admin.Health" PermissionNames="AccessHealth"  IconClass="fa fa-sitemap">
      <siteMapNode SystemName="ReceivedVaccination" LIMSResource="Admin.Health.ReceivedVaccination" controller="ReceivedVaccination" action="Index"  PermissionNames="AccessLssReport,AccessVhlsecReport"  IconClass="fa fa-dot-circle-o"/>
       <siteMapNode SystemName="DistributedVaccination" LIMSResource="Admin.Health.VaccinationDistribution" controller="DistributedVaccination" action="Index"  PermissionNames="AccessLssReport,AccessVhlsecReport"  IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="FarmFOrVaccination" LIMSResource="Admin.Health.PurnaKhopData" controller="FarmForPurnaKhop" action="Index"  PermissionNames="AccessLssReport,AccessVhlsecReport"  IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="PurnakhopVaccination" LIMSResource="Admin.Health.PurnaKhop" controller="Purnakhop" action="Index"  PermissionNames="AccessLssReport,AccessVhlsecReport"  IconClass="fa fa-dot-circle-o"/>

        <siteMapNode SystemName="Treatment" LIMSResource="Admin.Health.Treatment" PermissionNames="AccessHealth"  IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Sample" LIMSResource="Admin.Health.Sample" PermissionNames="AccessHealth"  IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
  <siteMapNode SystemName="Performance recording" LIMSResource="Admin.PerformanceRecording" PermissionNames="AccessPerformanceRecording"  controller="PerformanceRecording" action="List" IconClass="fa fa-sitemap">
     

    </siteMapNode>
    <siteMapNode SystemName="StatisticalData" LIMSResource="Admin.StatisticalData" PermissionNames="LivestockData,ServiceData,ProductionData" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Livestock" LIMSResource="Admin.StatisticalData.Livestock" PermissionNames="LivestockData" controller="Livestock" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Service" LIMSResource="Admin.StatisticalData.Service" PermissionNames="ServiceData" controller="Services" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Production" LIMSResource="Admin.StatisticalData.Production" PermissionNames="ProductionData" controller="Production" action="Index" IconClass="fa fa-dot-circle-o"/>
    
    </siteMapNode>
    <siteMapNode SystemName="Inventory" LIMSResource="Admin.Inventory" PermissionNames="AccessInventory" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Medicines" LIMSResource="Admin.Inventory.Medicine" PermissionNames="AccessInventory" controller="Medicine" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Received" LIMSResource="Admin.Inventory.ReceivedMedicine" PermissionNames="AccessInventory" controller="ReceivedMedicine" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Distribution" LIMSResource="Admin.Inventory.SentMedicine" PermissionNames="AccessInventory" controller="MedicineDistribution" action="Index" IconClass="fa fa-dot-circle-o"/>

    
    </siteMapNode>
    <siteMapNode SystemName="ActivityMenu" LIMSResource="Admin.Activity" PermissionNames="AccessActivityMenu" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Activity" LIMSResource="Admin.Activity.Activity" PermissionNames="AccessActivity" controller="Activity" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Target" LIMSResource="Admin.Activity.Target" PermissionNames="AccessActivityTarget" controller="Target" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Progress" LIMSResource="Admin.Activity.Progress" PermissionNames="AccessActivityProgress" controller="ActivityProgress" action="List" IconClass="fa fa-dot-circle-o"/>


    </siteMapNode>


    <siteMapNode SystemName="Reports" LIMSResource="Admin.Reports" PermissionNames="ManageReports" IconClass="icon-bar-chart">
      <siteMapNode SystemName="LssLivestock" LIMSResource="Admin.Report.LssLivestockreport" PermissionNames="AccessLssReport" controller="Report" action="LivestockReportWard" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="VhlsecLivestock" LIMSResource="Admin.Report.VhlsecLivestockreport" PermissionNames="AccessVhlsecReport" controller="Report" action="LivestockReport" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="DolfdLivestock" LIMSResource="Admin.Report.DolfdLivestock" PermissionNames="DolfdOnly" controller="Report" action="LivestockReportDolfd" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ProductionReport" LIMSResource="Admin.Report.ProductionReport" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="ProductionReport" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MedicineReport" LIMSResource="Admin.Report.MedicineReport" PermissionNames="AccessLssReport" controller="MedicineReport" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Pprsfarm" LIMSResource="Admin.Health.PPRSFarm" controller="Farm" action="PPRSList"  PermissionNames="NlboOnly"  IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Pprstech" LIMSResource="Admin.Health.PPRSTechnician" controller="ServiceProvider" action="PprsTechList"  PermissionNames="NlboOnly"  IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AiReport" LIMSResource="Admin.Report.AiReport" PermissionNames="AccessVhlsecReport" controller="AiReport" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="TreatmentReport" LIMSResource="Admin.Report.TreatmentReport" PermissionNames="AccessLssReport" controller="MonthlyProgressReport" action="Index" IconClass="fa fa-dot-circle-o"/>

    </siteMapNode>
    <siteMapNode SystemName="Configuration" LIMSResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageMeasures,ManageActivityLog,ManageACL,ManageEmailAccounts,ManagePlugins,ManageWidgets,ManageStores"
       IconClass="icon-wrench">
      <siteMapNode SystemName="Languages" LIMSResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa fa-dot-circle-o"/>

      <siteMapNode SystemName="EmailAccounts" LIMSResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa fa-dot-circle-o"/>
     
      <siteMapNode SystemName="Access control list" LIMSResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
    <siteMapNode SystemName="System" LIMSResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMessageContactForm,ManageMaintenance,ManageScheduleTasks" IconClass="icon-settings">
      <siteMapNode SystemName="Log" LIMSResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Queued emails" LIMSResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" IconClass="fa fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Contact Us form" LIMSResource="Admin.System.ContactForm" PermissionNames="ManageMessageContactForm" controller="ContactForm" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Maintenance" LIMSResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" LIMSResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Warnings" LIMSResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="System information" LIMSResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Search engine friendly names" LIMSResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Developer tools" LIMSResource="Admin.System.DeveloperTools" PermissionNames="ManageMaintenance" IconClass="fa fa-dot-circle-o">
        <siteMapNode SystemName="Manage API Users" LIMSResource="Admin.System.APIUsers" PermissionNames="ManageMaintenance" controller="ApiUser" action="Index" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Roslyn compiler" LIMSResource="Admin.System.Roslyn" PermissionNames="ManageMaintenance" controller="Common" action="Roslyn" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Query editor" LIMSResource="Admin.System.QueryEditor" PermissionNames="ManageMaintenance" controller="Common" action="QueryEditor" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Custom css" LIMSResource="Admin.System.CustomCss" PermissionNames="ManageMaintenance" controller="Common" action="CustomCss" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Custom JS" LIMSResource="Admin.System.CustomJs" PermissionNames="ManageMaintenance" controller="Common" action="CustomJs" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Robot.txt" LIMSResource="Admin.System.AdditionsRobotsTxt" PermissionNames="ManageMaintenance" controller="Common" action="AdditionsRobotsTxt" IconClass="fa fa-dot-circle-o"/>-->-->
      </siteMapNode>
      <!--<siteMapNode SystemName="Templates" LIMSResource="Admin.System.Templates" PermissionNames="ManageMaintenance" IconClass="fa fa-arrow-circle-o-right">
        <siteMapNode SystemName="Category templates" LIMSResource="Admin.System.Templates.Category" controller="Template" action="CategoryTemplates" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Manufacturer templates" LIMSResource="Admin.System.Templates.Manufacturer" controller="Template" action="ManufacturerTemplates" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Product templates" LIMSResource="Admin.System.Templates.Product" controller="Template" action="ProductTemplates" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Topic templates" LIMSResource="Admin.System.Templates.Topic" controller="Template" action="TopicTemplates" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>-->
    <!--</siteMapNode>-->
    <!--<siteMapNode SystemName="Help" LIMSResource="Admin.Help" IconClass="icon-question">
      <siteMapNode SystemName="Community forums" LIMSResource="Admin.Help.Forums" url="https://LIMS.com/boards?utm_source=web&amp;utm_medium=admin&amp;utm_term=web&amp;utm_campaign=Community" IconClass="fa fa-dot-circle-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Premium support services" LIMSResource="Admin.Help.SupportServices" url="https://LIMS.com/support-service?utm_source=web&amp;utm_medium=admin&amp;utm_term=web&amp;utm_campaign=Support" IconClass="fa fa-dot-circle-o" OpenUrlInNewTab="true"/>
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" LIMSResource="Admin.Plugins" />-->
  </siteMapNode>
</siteMap>

