@using LIMS.Web.Areas.Admin.Models.DynamicMenu 
@model SubMenuModel
<div class="x_content form">
    <div class="form-row">
        <input type="hidden" asp-for="Id" />

        <div class="form-body">
            <div class="col-md-2">
                <div class="form-group">
                    <admin-label asp-for="SerialNo" />
                    <admin-input asp-for="SerialNo" />
                    <span asp-validation-for="SerialNo"></span>
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="MainMenuId" />
                    <admin-select asp-for="MainMenuId" asp-items="@ViewBag.MainMenuId"></admin-select>
                    <span asp-validation-for="MainMenuId"></span>

                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="Name" />
                    <admin-input asp-for="Name"/>
                        
                    <span asp-validation-for="Name"></span>

                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="NameNepali" />
                    <admin-input asp-for="NameNepali" />
                    <span asp-validation-for="NameNepali"></span>

                </div>
            </div>
            @*<div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="Url" />
                    <admin-select asp-for="Url" data-val="@Model.Url" >
                        </admin-select>
                    <span asp-validation-for="Url"></span>

                </div>
            </div>*@
            <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="HasSubSubMenu" /><br />
                    <admin-input asp-for="HasSubSubMenu" />
                    <span asp-validation-for="HasSubSubMenu"></span>

                </div>
            </div>
            <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="IsActive" /><br />
                    <admin-input asp-for="IsActive" />
                    <span asp-validation-for="IsActive"></span>

                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {


        var province = $("#MainMenuId :selected").text();
        var urls = $("#Url").data('val');

        if (province) {
            $("#Url").empty();
            $("#Url").append('<option value="">select</option>')
            url = "@Url.Action("GetSubmenu", "MainMenu")";
            var data = {
                mainmenu: province
            }
            $.getJSON(url, data, (result) => {

                $.each(result, function (item, value) {
                    console.log(item);
                    if (value.Value == urls) {
                        $("#Url").append(`<option value="${value.Value}" selected>${value.Text}</option>`);
                    }
                    else {
                        $("#Url").append(`<option value="${value.Value}">${value.Text}</option>`);

                    }
                });
            });
        }
            
    $('#@Html.IdFor(m=>m.MainMenuId)').change(function () {
        var provinces= $("#MainMenuId :selected").text();

                $("#Url").empty();
                $("#Url").append('<option value="">select</option>')
                url = "@Url.Action("GetSubmenu", "MainMenu")";
                var data = {
                    mainmenu: provinces
                }
        $.getJSON(url, data, (result) => {

            $.each(result, function (item, value) {
                console.log(item);
                        $("#Url").append(`<option value="${value.Value}">${value.Text}</option>`);
                    });
                });
            });
    })
</script>