@model VaccinationTypeModel
@{
    //page title
    ViewBag.Title = "Medicine";
}
<form asp-area="@Constants.AreaAdmin" asp-controller="Medicine" asp-action="Create" method="post">

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-comment"></i>
                        @T("Admin.Medicine.AddNew")
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back To list", "List")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            
                        </div>
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
                <div class="x_content form">
                    <div class="form-row">

                        <div class="col-md-3">

                            <div class="form-group">
                                <admin-label asp-for="MedicalName" />
                                <admin-input asp-for="MedicalName" />
                                <span asp-validation-for="MedicalName"></span>

                            </div>
                        </div>
                       
                        @*<div class="col-md-3 col-sm-3">

                            <div class="form-group">
                                <admin-label asp-for="Brand" />
                                <admin-input asp-for="Brand" />
                                <span asp-validation-for="Brand"></span>

                            </div>
                        </div>*@
                        <div class="col-md-6">

                            <div class="form-group">
                                <admin-label asp-for="Specification" />
                                <admin-input asp-for="Specification" />
                                <span asp-validation-for="Specification"></span>

                            </div>
                        </div>
                        @*<div class="col-md-12">

                            <div class="form-group">
                                <admin-label asp-for="Description" />
                                <admin-textarea asp-for="Description" />
                                <span asp-validation-for="Description"></span>

                            </div>
                        </div>*@

                    </div>
                    </div>
                </div>
            </div>
</form>
