@model LIMS.Web.Areas.Admin.Models.Reports.MonthlyProgressReportModel

<form method="post" id="lssReport">
    <div class="col-md-2">
        <div class="form-group">
            <admin-label asp-for="FiscalYear" />
            <admin-select asp-for="FiscalYear" asp-items="ViewBag.FiscalYearId" required="required"> </admin-select>
            <span asp-validation-for="FiscalYear"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <admin-label asp-for="Month" />
            <admin-select asp-for="Month" asp-items="ViewBag.Months" required="required" />
            <span asp-validation-for="Month"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <br/>
            <input type="submit" class="btn btn-sm btn-success" />
</div>
  </div>
</form>
<br />
<div id="result"></div>

<script>
    $('#lssReport').submit(function (e) {
        var data = {
            fiscalyear: $('#FiscalYear').val(),
            month: $('#Month').val()
        }
        addAntiForgeryToken(data);
        e.preventDefault();
        $.ajax({
            cache: false,
            url: '/Admin/MonthlyProgressReport/TreatmentReportHtml',
            data: data,  // { 'fiscalyear': $('#FiscalYear').val() },
            type: "POST",
            success: function (response) {
                if (response.success) {
                    $('#result').html(response.livestockWardWiseReportHtml);
                }
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    });
</script>