@model FarmerModel
@using LIMS.Services.Security;

@*@inject IPermissionService permissionService

@{  
    var subsidy = await permissionService.Authorize(StandardPermissionProvider.AccessSubsidyRegister);
}*@
<div class="x_content form">
    <div class="form-row">
        <div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="FiscalYearId" />
                <admin-select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYearId" required="required">

                </admin-select>
                <span asp-validation-for="FiscalYearId"></span>

            </div>
        </div>
        @*<div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="IncuvationCenterId" />
                <admin-select asp-for="IncuvationCenterId" asp-items="ViewBag.IncuvationCenter" />

                <span asp-validation-for="IncuvationCenterId"></span>

            </div>
        </div>
                <div class="col-md-3">

                    <div class="form-group">
                        <admin-label asp-for="TalimId" />
                        <admin-select asp-for="TalimId" asp-items="ViewBag.Talim" class="form-control" required="required">
                        </admin-select>
                        <span asp-validation-for="TalimId"></span>

                    </div>
                </div>*@
        @*@if (subsidy)
        {





        }*@
        @*<div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="Province" />
                <select name="Provience" id="country" data-val="Sudurpashchim Province" class="form-control">
                    <option value="">select</option>
                </select>

            </div>
        </div>

        <div class="col-md-2">

            <div class="form-group">
                <admin-label asp-for="District" />
                <select name="district" id="district" data-val="@Model.District" class="form-control">
                    <option value="">select</option>
                </select>
                <span asp-validation-for="District"></span>

            </div>
        </div>*@
        @*<div class="col-md-3">
            <div class="form-group">
                <admin-label asp-for="LocalLevel" />
                <select asp-for="LocalLevel" asp-items="@ViewBag.LocalLevels" class="form-control">
                </select>
                <span asp-validation-for="LocalLevel"></span>
            </div>
        </div>*@
        <div id="tal">
            <table class="table table-bordered">
                <tr>
                    <th>
                        <admin-label asp-for="Name" />

                    </th>

                    <th>
                        <admin-label asp-for="Address" />
                    </th>

                    <th>
                        <admin-label asp-for="WardNo" />
                    </th>
                    <th>
                        <admin-label asp-for="Phone" />
                    </th>

                    <th>
                        <admin-label asp-for="Gender" />
                    </th>
                    <th>
                        <admin-label asp-for="Caste" />
                    </th>
                    @*
                    <th>
                        <admin-label asp-for="Dalit" />
                    </th>
                    <th>
                        <admin-label asp-for="Janajati" />
                    </th>

                    <th>
                        <admin-label asp-for="Others" />
                    </th>*@
                    <th>
                        <admin-label asp-for="Remarks" />
                    </th>
                </tr>
                <tbody id="tabularEntry">
                </tbody>



            </table>
            <div class="col-md-12">
                <Center>
                    <div class="btn-group btn-group-devided">

                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        <input type="button" class="btn btn-primary" id="add" value="Add row" />;

                    </div>
                </Center>

            </div>
        </div>
    </div>
</div>

<table id="hide">
    <tbody>
        <tr>
            <td>
                <input type="hidden" name="LivestockDataId" />
                <input asp-for="Name" class="form-control" />
            </td>

            <td>
                <admin-input asp-for="Address" />
            </td>
            <td>
                <admin-input asp-for="WardNo" oninput="validity.valid||(value=' + 0 +' );" />
            </td>
            <td>
                <admin-input asp-for="Phone" />
            </td>
            <td>
                <select name="Gender" class="form-control">
                    <option value="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </td>
            <td>
                <select name="Caste" class="form-control">
                    <option value="">Select</option>
                    <option value="Dalit">Dalit</option>
                    <option value="Janajati">Janajati</option>
                    <option value="Anya">Anya</option>
                </select>
            </td>
            @*<td>
            <admin-input asp-for="Male" oninput="validity.valid||(value=' + 0 +' );"/>
        </td>
        <td>
            <admin-input asp-for="Female" oninput="validity.valid||(value=' + 0 +' );"/>
        </td>
        <td>
            <admin-input asp-for="Dalit" oninput="validity.valid||(value=' + 0 +' );" />
        </td>
        <td>
            <admin-input asp-for="Janajati" oninput="validity.valid||(value=' + 0 +' );"/>
        </td>
        <td>
            <admin-input asp-for="Others" oninput="validity.valid||(value=' + 0 +' );"/>
        </td>*@

            <td>
                <admin-input asp-for="Remarks" />
            </td>
        </tr>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#tal").hide();
        $("#hide").hide();
       var  fiscalyear = $("#@Html.IdFor(m=>m.FiscalYearId)").val();
             data = {
                 fiscalyear: fiscalyear
             }
             if (fiscalyear) {
                 $("#@Html.IdFor(m=>m.TalimId)").empty();
                 $("#@Html.IdFor(m=>m.TalimId)").append(`<option value="">Select</option>`);

                 url = "/Admin/Farmer/GetTalim";
                 $.getJSON(url, data, function (result) {
                     $.each(result, function (i, item) {
                         $("#@Html.IdFor(m=>m.TalimId)").append(`<option value="${item.Id}">${item.NameEnglish}</option>`);
                     });
                 })
                 abc(data);
             }
    });
        $("#@Html.IdFor(m=>m.FiscalYearId)").change(function () {


             fiscalyear = $(this).val();
             data = {
                 fiscalyear: fiscalyear
             }
             if (fiscalyear) {
                 $("#@Html.IdFor(m=>m.TalimId)").empty();
                 $("#@Html.IdFor(m=>m.TalimId)").append(`<option value="">Select</option>`);

                 url = "/Admin/Farmer/GetTalim";
                 $.getJSON(url, data, function (result) {
                     $.each(result, function (i, item) {
                         $("#@Html.IdFor(m=>m.TalimId)").append(`<option value="${item.Id}">${item.NameEnglish}</option>`);
                     });
                 })
                 abc(data);
             }
        });
    $("#@Html.IdFor(m=>m.TalimId)").change(function () {
        data = {
            fiscalyear:$("#@Html.IdFor(m=>m.FiscalYearId)").val(),
            talim:$("#@Html.IdFor(m=>m.TalimId)").val(),
            district:$("#district").val(),
        }
        abc(data);
        //var tablerow = $("#hide tbody").html();
        //$("#tabularEntry").append(tablerow);
        //$("#tal").show();
    });

      $("#district").change(function () {
        data = {
            fiscalyear:$("#@Html.IdFor(m=>m.FiscalYearId)").val(),
            talim:$("#@Html.IdFor(m=>m.TalimId)").val(),
            district:$("#district").val(),
        }
        abc(data);
      });
    $("#add").click(function () {
        var tablerow = $("#hide tbody").html();
        $("#tabularEntry").append(tablerow);
    })
    function abc(data) {
        $(tabularEntry).html("");
        if (data.fiscalyear) {
            $.post("@Url.Action("GetTalimData", "Farmer")", addAntiForgeryToken(data), function (result) {
                if (result.length > 0) {
                    $.each(result, function (index, item) {
                        var tableRow = '<tr id="' + item.Id + '"> <td><input type="hidden" name="LivestockDataId" value="' + item.Id + '"/> ';


                        tableRow += '<input type="text" name="Name" class="form-control"  value="' + item.Name + '"/></td>';
                        tableRow += '<td><input type="text" name="Address" class="form-control" value="' + item.Address + '"/></td>';
                        tableRow += '<td><input type="number" name="WardNo" class="form-control" min="0" oninput="validity.valid||(value=' + 0 + ' );" value="' + item.WardNo + '"/></td>';
                        tableRow += '<td><input type="text" name="Phone" class="form-control" min="0" oninput="validity.valid||(value=' + 0 + ' );" value="' + item.Phone + '"/></td>';
                        tableRow += `<td><select name="Gender" class="form-control">
                                        <option value="">Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </td>`;
                        tableRow += `<td>
                                    <select name="Caste" class="form-control">
                                        <option value="">Select</option>
                                        <option value="Dalit">Dalit</option>
                                        <option value="Janajati">Janajati</option>
                                        <option value="Anya">Anya</option>
                                    </select>
                                </td>`;
                     //tableRow += '<td><input type="text" name="Male" class="form-control" min="0" oninput="validity.valid||(value=' + 0 +' );" value="' + item.Male + '"/></td>';
                     //   tableRow += '<td><input type="text" name="Female" class="form-control" min="0" oninput="validity.valid||(value=' + 0 + ' );" value="' + item.FeMale + '"/></td>';
                     //   tableRow += '<td><input type="text" name="Dalit" class="form-control" min="0" oninput="validity.valid||(value=' + 0 +' );" value="' + item.Dalit + '"/></td>';
                     //   tableRow += '<td><input type="text" name="Janajati" class="form-control" min="0" oninput="validity.valid||(value=' + 0 +' );" value="' + item.Janajati + '"/></td>';
                     //   tableRow += '<td><input type="text" name="Others" class="form-control" min="0" oninput="validity.valid||(value=' + 0 + ' );" value="' + item.Others + '"/></td>';

                        tableRow += '<td><input type="text" name="Remarks" class="form-control" min="0" oninput="validity.valid||(value=' + 0 + ' );" value="' + item.Remarks + '"/></td>';

                        $(tabularEntry).append(tableRow);

                        var SexDDL = $("#tabularEntry").find('tr:last select[name="Gender"]');
                        if (SexDDL.find('option[value="' + item.Gender + '"]').length > 0) {
                            SexDDL.val(item.Gender);
                        }

                        var EthinicGroupDDL = $("#tabularEntry").find('tr:last select[name="Caste"]');
                        if (EthinicGroupDDL.find('option[value="' + item.Caste + '"]').length > 0) {
                            EthinicGroupDDL.val(item.Caste);
                        }
                        //$('tr#' + item.Id + ' select[name="Ward"]').val(item.Ward);
                        //$('tr#' + item.Id + ' select[name="LocalLevel"]').val(item.LocalLevel);
                    });
                    $("#tal").show();
                }

                    else {




                    var tablerow = $("#hide tbody").html();
                    $("#tabularEntry").append(tablerow);

                    }
                $("#tal").show();

            });



        }



    }
</script>