@model LIMS.Website1.Models.MarketView


<section>



    <div class="container">
        <div class="row">
            <div class="col-md-12">
               
            </div>
            <form method="post">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>
                            Fiscal year

                        </label>
                        <select onchange="this.form.submit()" name="fiscalYear" class="form-control" asp-items=@ViewBag.fiscalyear>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>
                            District

                        </label>
                        <select onchange="this.form.submit()" name="districts" class="form-control" asp-items='@ViewBag.district'>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>
                            Name of market

                        </label>
                        <select onchange="this.form.submit()" name="type" class="form-control" asp-items="@ViewBag.type">
                        </select>
                    </div>
                </div>
                @*<div class="col-md-3">
            <div class="form-group">
                <label>
                    Market Name

                </label>
                <select onchange="this.form.submit()" name="type" class="form-control" asp-items='@(new SelectList(ViewBag.Types,"Value","Text",Model.Type))'>
                </select>
            </div>
        </div>*@

            </form>
            <div class="col-md-12">
                <table id="tblPublication" class="table table-responsive table-bordered">
                    <thead>
                        <tr style="background: #fefefe;">
                            @foreach(var item in Model.CropName)
                            {
                                <th>
                                    @item
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Data.Any())
                        {
                            int i = 1;
                            @foreach (var item in Model.Data)

                            {
                                <tr>
                                    @foreach (var a in item.Data)
                                    {
                                    <td>
                                        @a
                                    </td>
                                    }
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6">No record found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</section>