@using LIMS.Web.Areas.Admin.Models.DynamicMenu
@model SubSubMenuModel
<div class="x_content form">
    <div class="form-row">
        <input type="hidden" asp-for="Id" />
        <div class="form-body">
            <div class="col-md-2">
                <div class="form-group">
                    <admin-label asp-for="SerialNo" />
                    <admin-input asp-for="SerialNo" />
                    <span asp-validation-for="SerialNo"></span>
                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="SubMenuId" />
                    <admin-select asp-for="SubMenuId" asp-items="@ViewBag.SubMenuId"></admin-select>
                    <span asp-validation-for="SubMenuId"></span>

                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="SubSubMenuName" />
                    <admin-input asp-for="SubSubMenuName" />
                    <span asp-validation-for="SubSubMenuName"></span>

                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="SubSubMenuNameNepali" />
                    <admin-input asp-for="SubSubMenuNameNepali" />
                    <span asp-validation-for="SubSubMenuNameNepali"></span>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <admin-label asp-for="Url" />
                    <admin-select asp-for="Url" asp-items="@ViewBag.MainMenu" />
                    <span asp-validation-for="Url"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <admin-label asp-for="ExternalUrl" />
                    <admin-input asp-for="ExternalUrl" />
                    <span asp-validation-for="ExternalUrl"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">

                    <div class="form-group">
                        <admin-label asp-for="IsUrlExternal" /><br />
                        <admin-input asp-for="IsUrlExternal" />
                        <span asp-validation-for="IsUrlExternal"></span>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4">

                    <div class="form-group">
                        <admin-label asp-for="IsActive" /><br />
                        <admin-input asp-for="IsActive" />
                        <span asp-validation-for="IsActive"></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


