@using LIMS.Web.Areas.Admin.Models.DynamicMenu
@model SubSubMenuModel
@{
    Layout = LIMS.Web.Areas.Admin.Extensions.Constants.Layout_Website;

}
<form asp-area="@Constants.AreaAdmin" asp-controller="SubSubMenu" asp-action="Create" method="post">

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-comment"></i>
                        @T("Admin.SubSubMenu.Create")
                        @*@T("Admin.ContentManagement.Blog.BlogPosts.AddNew")*@
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back To list", "List")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>

                        </div>
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />

                <div class="x_content form">
                    <partial name="_CreateOrUpdate" model="Model" />
                </div>




            </div>
        </div>
    </div>
</form>
