<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Dashboard" LIMSResource="Admin.Dashboard" controller="Dashboard" action="Index">
    <siteMapNode SystemName="Dashboard" LIMSResource="Admin.Dashboard" controller="Dashboard" action="Index" IconClass="icon-home">
      <!--<siteMapNode SystemName="Dashboard" LIMSResource="Admin.Dashboard.Statistics" controller="Home" action="Statistics" PermissionNames="ManageReports" IconClass="icon-bulb"/>-->
    </siteMapNode>
   
    <siteMapNode SystemName="User" LIMSResource="Admin.User" PermissionNames="AccessMasterSetup,AccessMolmacRegister" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Customers" LIMSResource="Admin.User" PermissionNames="User" controller="User" action="List" IconClass="fa fa-dot-circle-o"/>

      <siteMapNode SystemName="Moamac" LIMSResource="Admin.MasterSetup.Moamac" PermissionNames="AccessMolmacRegister" controller="Moamac" action="List" IconClass="fa fa-dot-circle-o"/>
    <siteMapNode SystemName="Dolfd" LIMSResource="Admin.OrganizationUnderMolmac" PermissionNames="AccessMasterSetup" controller="Dolfd" action="List" IconClass="fa fa-dot-circle-o"/>
    <siteMapNode SystemName="NLBO" LIMSResource="Admin.ORC" PermissionNames="AccessMasterSetup" controller="NLBO" action="List" IconClass="fa fa-dot-circle-o"/>
    <siteMapNode SystemName="Vhlsec" LIMSResource="Admin.OrganizationUnderDolfdAndAdd" PermissionNames="AccessMasterSetup" controller="Vhlsec" action="List" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>

    <siteMapNode SystemName="MasterSetup" LIMSResource="Admin.MasterSetup" PermissionNames="AccessMasterSetup" IconClass="fa fa-sitemap">
         
      <siteMapNode SystemName="Species" LIMSResource="Admin.MasterSetup.Species" PermissionNames="AccessMasterSetup" controller="Species" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Breed" LIMSResource="Admin.MasterSetup.Breed" PermissionNames="AccessMasterSetup" controller="Breed" action="List" IconClass="fa fa-dot-circle-o"/>

      <siteMapNode SystemName="Unit" LIMSResource="Admin.MasterSetup.Unit" PermissionNames="AccessMasterSetup" controller="Unit" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FiscalYear" LIMSResource="Admin.MasterSetup.Fiscalyear" PermissionNames="AccessMasterSetup" controller="FiscalYear" action="List" IconClass="fa fa-dot-circle-o"/>
      
    </siteMapNode>

     <siteMapNode SystemName="WebsiteCMS" LIMSResource="Admin.WebsiteCMS" PermissionNames="AccessGeneralCMS" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="MainMenu" LIMSResource="Admin.WebsiteCMS.MainMenu" PermissionNames="AccessDynamicMenu" controller="MainMenu" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="SubMenu" LIMSResource="Admin.WebsiteCMS.SubMenu" PermissionNames="AccessDynamicMenu" controller="SubMenu" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="SubSubMenu" LIMSResource="Admin.WebsiteCMS.SubSubMenu" PermissionNames="AccessDynamicMenu" controller="SubSubMenu" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Banner" LIMSResource="Admin.WebsiteCMS.Banner" PermissionNames="AccessGeneralCMS" controller="Banner" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ContactUs" LIMSResource="Admin.WebsiteCMS.ContactUs" PermissionNames="AccessGeneralCMS" controller="ContactUs" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Employee" LIMSResource="Admin.WebsiteCMS.Employee" PermissionNames="AccessGeneralCMS" controller="Employee" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Gallery" LIMSResource="Admin.WebsiteCMS.Gallery" PermissionNames="AccessGeneralCMS" controller="Gallery" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ImportantLinks" LIMSResource="Admin.WebsiteCMS.ImportantLinks" PermissionNames="AccessGeneralCMS" controller="ImportantLinks" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="PageContent" LIMSResource="Admin.WebsiteCMS.PageContent" PermissionNames="AccessGeneralCMS" controller="PageContent" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="NewsEvent" LIMSResource="Admin.WebsiteCMS.NewsEvent" PermissionNames="AccessNewsEventTender" controller="NewsEvent" action="Index" IconClass="fa fa-dot-circle-o"/>
    
    </siteMapNode>
      
    <siteMapNode SystemName="CDS" LIMSResource="Admin.CDS" PermissionNames="AccessCDS" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="ImportBudget" LIMSResource="Admin.CDS.ImportBudget" PermissionNames="AccessCDS" controller="PujigatKharchaKharyakram" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="UpdateProgress" LIMSResource="Admin.CDS.UpdateProgress" PermissionNames="AccessCDS" controller="MonthlyProgress" action="Create" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Production" LIMSResource="Admin.CDS.Production" PermissionNames="AccessCDS" controller="Bali" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Market" LIMSResource="Admin.CDS.Market" PermissionNames="AccessCDS" controller="Market" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Resources" LIMSResource="Admin.CDS.Resources" PermissionNames="AccessCDS" controller="Resources" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Talim" LIMSResource="Admin.CDS.Talim" PermissionNames="AccessCDS" controller="Talim" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="IncubationCenter" LIMSResource="Admin.CDS.IncubationCenter" PermissionNames="AccessCDS" controller="IncubationCenter" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FarmarForTalim" LIMSResource="Admin.CDS.FarmarForTalim" PermissionNames="AccessCDS" controller="Farmer" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Soil" LIMSResource="Admin.CDS.Soil" PermissionNames="AccessCDS" controller="Soil" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MonthlyProgress" LIMSResource="Admin.CDS.MonthlyProgress" PermissionNames="AccessCDS" controller="MonthlyProgress" action="Create" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MonthlyProgress" LIMSResource="Admin.CDS.LabambitKrishak" PermissionNames="AccessCDS" controller="LabambitKrishak" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MonthlyProgress" LIMSResource="Admin.CDS.aanudan" PermissionNames="AccessCDS" controller="aanudankaryakram" action="List" IconClass="fa fa-dot-circle-o"/>

    </siteMapNode>

    <siteMapNode SystemName="CDS" LIMSResource="Admin.Report" PermissionNames="AccessCDS" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Bali" LIMSResource="Admin.CDS.ProductionReport" PermissionNames="AccessCDS" controller="Bali" action="BaliReport" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Talim" LIMSResource="Admin.CDS.TalimReport" PermissionNames="AccessCDS" controller="Farmer" action="KirshakReport" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ProgramSummery" LIMSResource="Admin.CDS.ProgramSummery" PermissionNames="AccessCDS" controller="MonthlyProgress" action="summery" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ProgramSummery" LIMSResource="Admin.CDS.Aanudan" PermissionNames="AccessCDS" controller="aanudankaryakram" action="Report" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ProgramSummery" LIMSResource="Admin.CDS.MonthlyProgress" PermissionNames="AccessCDS" controller="MonthlyProgress" action="Report" IconClass="fa fa-dot-circle-o"/>

    </siteMapNode>


    <!--<siteMapNode SystemName="Reports" LIMSResource="Admin.Reports" PermissionNames="ManageReports" IconClass="icon-bar-chart">
      <siteMapNode SystemName="LssLivestock" LIMSResource="Admin.Report.LssLivestockreport" PermissionNames="AccessLssReport" controller="Report" action="LivestockReportWard" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="VhlsecLivestock" LIMSResource="Admin.Report.VhlsecLivestockreport" PermissionNames="AccessVhlsecReport" controller="Report" action="LivestockReport" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="DolfdLivestock" LIMSResource="Admin.Report.DolfdLivestock" PermissionNames="DolfdOnly" controller="Report" action="LivestockReportDolfd" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ProductionReport" LIMSResource="Admin.Report.ProductionReport" PermissionNames="AccessLssReport,AccessVhlsecReport" controller="ProductionReport" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MedicineReport" LIMSResource="Admin.Report.MedicineReport" PermissionNames="AccessLssReport" controller="MedicineReport" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Pprsfarm" LIMSResource="Admin.Health.PPRSFarm" controller="Farm" action="PPRSList"  PermissionNames="NlboOnly"  IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Pprstech" LIMSResource="Admin.Health.PPRSTechnician" controller="ServiceProvider" action="PprsTechList"  PermissionNames="NlboOnly"  IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AiReport" LIMSResource="Admin.Report.AiReport" PermissionNames="AccessVhlsecReport" controller="AiReport" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="TreatmentReport" LIMSResource="Admin.Report.TreatmentReport" PermissionNames="AccessLssReport" controller="MonthlyProgressReport" action="Index" IconClass="fa fa-dot-circle-o"/>

    </siteMapNode>-->
  
    <siteMapNode SystemName="Configuration" LIMSResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageMeasures,ManageActivityLog,ManageACL,ManageEmailAccounts,ManagePlugins,ManageWidgets,ManageStores"
       IconClass="icon-wrench">
      <siteMapNode SystemName="Languages" LIMSResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa fa-dot-circle-o"/>

      <siteMapNode SystemName="EmailAccounts" LIMSResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa fa-dot-circle-o"/>
     
      <siteMapNode SystemName="Access control list" LIMSResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa fa-dot-circle-o"/>
      </siteMapNode>
    <siteMapNode SystemName="System" LIMSResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMessageContactForm,ManageMaintenance,ManageScheduleTasks" IconClass="icon-settings">
      <siteMapNode SystemName="Log" LIMSResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Queued emails" LIMSResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" IconClass="fa fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Contact Us form" LIMSResource="Admin.System.ContactForm" PermissionNames="ManageMessageContactForm" controller="ContactForm" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Maintenance" LIMSResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" LIMSResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Warnings" LIMSResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="System information" LIMSResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Search engine friendly names" LIMSResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Developer tools" LIMSResource="Admin.System.DeveloperTools" PermissionNames="ManageMaintenance" IconClass="fa fa-dot-circle-o">
        <siteMapNode SystemName="Manage API Users" LIMSResource="Admin.System.APIUsers" PermissionNames="ManageMaintenance" controller="ApiUser" action="Index" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Roslyn compiler" LIMSResource="Admin.System.Roslyn" PermissionNames="ManageMaintenance" controller="Common" action="Roslyn" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Query editor" LIMSResource="Admin.System.QueryEditor" PermissionNames="ManageMaintenance" controller="Common" action="QueryEditor" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Custom css" LIMSResource="Admin.System.CustomCss" PermissionNames="ManageMaintenance" controller="Common" action="CustomCss" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Custom JS" LIMSResource="Admin.System.CustomJs" PermissionNames="ManageMaintenance" controller="Common" action="CustomJs" IconClass="fa fa-dot-circle-o"/>
        <siteMapNode SystemName="Robot.txt" LIMSResource="Admin.System.AdditionsRobotsTxt" PermissionNames="ManageMaintenance" controller="Common" action="AdditionsRobotsTxt" IconClass="fa fa-dot-circle-o"/>-->-->
      </siteMapNode>
       </siteMapNode>
</siteMap>

