<?xml version="1.0" encoding="utf-8" ?>
<siteMap>

  <siteMapNode>
    <siteMapNode SystemName="Customers" LIMSResource="Admin.Users" PermissionNames="AccessMasterSetup" controller="User" action="List" IconClass="fa fa-sitemap"/>
    <siteMapNode SystemName="Organization" LIMSResource="Admin.Organization" PermissionNames="AccessMasterSetup" IconClass="fa fa-sitemap">
      <!--<siteMapNode SystemName="Customers" LIMSResource="Admin.User" PermissionNames="AccessMasterSetup" controller="User" action="List" IconClass="fa fa-dot-circle-o"/>-->
      <siteMapNode SystemName="OtherOrganization" LIMSResource="Admin.OtherOrganization" PermissionNames="AccessMasterSetup" controller="OtherOrganization" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ServiceProvider" LIMSResource="Admin.ServiceProvider" PermissionNames="AccessMasterSetup" controller="ServiceProvider" action="List" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>

    <siteMapNode SystemName="ServiceProvider" LIMSResource="Admin.ServiceProvider" PermissionNames="LivestockUserAccess" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Hatchery" LIMSResource="Admin.Hatchery" PermissionNames="LivestockUserAccess" controller="Hatchery" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FeedIndustry" LIMSResource="Admin.FeedIndustry" PermissionNames="LivestockUserAccess" controller="FeedIndustry" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FeedShop" LIMSResource="Admin.FeedShop" PermissionNames="LivestockUserAccess" controller="FeedShop" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MilkCoOperative" LIMSResource="Admin.MilkCoOperative" PermissionNames="LivestockUserAccess" controller="MilkCoOperative" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="DiaryIndustry" LIMSResource="Admin.DairyIndustry" PermissionNames="LivestockUserAccess" controller="DiaryIndustry" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="DiaryShop" LIMSResource="Admin.DiaryShop" PermissionNames="LivestockUserAccess" controller="DiaryShop" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ChillingCenter" LIMSResource="Admin.ChillingCenter" PermissionNames="LivestockUserAccess" controller="ChillingCenter" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AnimalCollection" LIMSResource="Admin.AnimalCollection" PermissionNames="LivestockUserAccess" controller="AnimalCollection" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AnimalMarket" LIMSResource="Admin.AnimalMarket" PermissionNames="LivestockUserAccess" controller="AnimalMarket" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MeatProcessing" LIMSResource="Admin.MeatProcessing" PermissionNames="LivestockUserAccess" controller="MeatProcessing" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MeatShop" LIMSResource="Admin.MeatShop" PermissionNames="LivestockUserAccess" controller="MeatShop" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FishSrot" LIMSResource="Admin.FishSrot" PermissionNames="LivestockUserAccess" controller="FishSrot" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="LivestockResearchCenter" LIMSResource="Admin.LivestockResearchCenter" PermissionNames="LivestockUserAccess" controller="LivestockResearchCenter" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Ngo" LIMSResource="Admin.Ngo" PermissionNames="LivestockUserAccess" controller="Ngo" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="TechSchool" LIMSResource="Admin.TechSchool" PermissionNames="LivestockUserAccess" controller="TechSchool" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="CanelClub" LIMSResource="Admin.CanelClub" PermissionNames="LivestockUserAccess" controller="CanelClub" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="VetClinic" LIMSResource="Admin.VetClinic" PermissionNames="LivestockUserAccess" controller="VetClinic" action="List" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Register" LIMSResource="Admin.Register" PermissionNames="AgriUserAccess" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="FarmHerd" LIMSResource="Admin.FarmHerd" PermissionNames="AgriUserAccess" controller="Farm" action="Create" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FarmerGroup" LIMSResource="Admin.FarmGroup" PermissionNames="AgriUserAccess" controller="Farm" action="FarmGroup" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="AI" LIMSResource="Admin.AI" PermissionNames="LivestockUserAccess" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="AIStat" LIMSResource="Admin.AIStat" PermissionNames="LivestockUserAccess" controller="AI" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AIService" LIMSResource="Admin.AIService" PermissionNames="LivestockUserAccess" controller="AI" action="Create" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="AnimalHealth" LIMSResource="Admin.AnimalHealth" PermissionNames="LivestockUserAccess" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="AnimalVaccination" LIMSResource="Admin.AnimalVaccination" PermissionNames="LivestockUserAccess" controller="StaticVaccination" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AnimalTreatment" LIMSResource="Admin.AnimalTreatment" PermissionNames="LivestockUserAccess" controller="Treatment" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="KhopHoushold" LIMSResource="Admin.KhopHoushold" PermissionNames="LivestockUserAccess" controller="KhopHouseHold" action="Create" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="MedicineVaccination" LIMSResource="Admin.MedicineVaccination" PermissionNames="LivestockUserAccess" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Medicine" LIMSResource="Admin.Medicine" PermissionNames="LivestockUserAccess" controller="Medicine" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ReceivedMedicine" LIMSResource="Admin.ReceivedMedicine" PermissionNames="LivestockUserAccess" controller="ReceivedMedicine" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MedicineDistribution" LIMSResource="Admin.MedicineDistribution" PermissionNames="LivestockUserAccess" controller="MedicineDistribution" action="Create" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ReceivedVaccination" LIMSResource="Admin.ReceivedVaccination" PermissionNames="LivestockUserAccess" controller="ReceivedVaccination" action="Create" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="DistributedVaccination" LIMSResource="Admin.DistributedVaccination" PermissionNames="LivestockUserAccess" controller="DistributedVaccination" action="Create" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="MasterSetup" LIMSResource="Admin.MasterSetup" PermissionNames="AgriUserAccess,LivestockUserAccess" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Species" LIMSResource="Admin.MasterSetup.Species" PermissionNames="AgriUserAccess" controller="Species" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Breed" LIMSResource="Admin.MasterSetup.Breed" PermissionNames="AgriUserAccess" controller="Breed" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="GrowingSeason" LIMSResource="Admin.MasterSetup.GrowingSeason" PermissionNames="AgriUserAccess" controller="GrowingSeason" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="LivestockSpecies" LIMSResource="Admin.MasterSetup.LivestockSpecies" PermissionNames="LivestockUserAccess" controller="LivestockSpecies" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="LivestockBreed" LIMSResource="Admin.MasterSetup.LivestockBreed" PermissionNames="LivestockUserAccess" controller="LivestockBreed" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Unit" LIMSResource="Admin.MasterSetup.Unit" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="Unit" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FiscalYear" LIMSResource="Admin.MasterSetup.Fiscalyear" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="FiscalYear" action="List" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>

    <siteMapNode SystemName="CDS" LIMSResource="Admin.CDS" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="Talim" action="List"  IconClass="fa fa-sitemap">
      <siteMapNode SystemName="ImportBudget" LIMSResource="Admin.CDS.ImportBudget" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="PujigatKharchaKharyakram" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="UpdateProgress" LIMSResource="Admin.CDS.UpdateProgress" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="MonthlyProgress" action="Create" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Market" LIMSResource="Admin.CDS.Market" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="Market" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Resources" LIMSResource="Admin.CDS.Resources" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="Resources" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Talim" LIMSResource="Admin.CDS.Talim" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="Talim" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="IncubationCenter" LIMSResource="Admin.CDS.IncubationCenter" PermissionNames="LivestockUserAccess" controller="IncubationCenter" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="FarmarForTalim" LIMSResource="Admin.CDS.FarmarForTalim" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="Farmer" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Soil" LIMSResource="Admin.CDS.Soil" PermissionNames="AgriUserAccess" controller="Soil" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MonthlyProgress" LIMSResource="Admin.CDS.LabambitKrishak" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="LabambitKrishak" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MonthlyProgress" LIMSResource="Admin.CDS.aanudan" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="aanudankaryakram" action="Report" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Livestock" LIMSResource="Admin.CDS.Livestock" PermissionNames="LivestockUserAccess" controller="Livestock" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AnimalProduction" LIMSResource="Admin.CDS.AnimalProduction" PermissionNames="LivestockUserAccess" controller="Production" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Production" LIMSResource="Admin.CDS.CropProduction" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="CropsProduction" action="List" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="CDS" LIMSResource="Admin.Report" PermissionNames="AgriUserAccess,LivestockUserAccess" IconClass="fa fa-sitemap">
      <siteMapNode SystemName="Talim" LIMSResource="Admin.Talim.Report" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="Farmer" action="KirshakReport" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Aanudan" LIMSResource="Admin.CDS.Aanudan" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="aanudankaryakram" action="OrgReport" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ProgramSummery" LIMSResource="Admin.CDS.ProgramSummery" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="MonthlyProgress" action="summery" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="ProgramSummery" LIMSResource="Admin.CDS.MonthlyProgress" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="MonthlyProgress" action="Report" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Crop" LIMSResource="Admin.CDS.CropProductionReport" PermissionNames="AgriUserAccess" controller="CropsProduction" action="Report" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AnimalProduction" LIMSResource="Admin.CDS.AnimalProductionReport" PermissionNames="LivestockUserAccess" controller="Production" action="Report" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Livestock" LIMSResource="Admin.CDS.LivestockReport" PermissionNames="LivestockUserAccess" controller="Livestock" action="Report" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Reports" LIMSResource="Admin.Reports" PermissionNames="AgriUserAccess,LivestockUserAccess" IconClass="icon-bar-chart">
      <siteMapNode SystemName="ProductionReport" LIMSResource="Admin.Report.ProductionReport" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="ProductionReport" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="MedicineReport" LIMSResource="Admin.Report.MedicineReport" PermissionNames="LivestockUserAccess" controller="MedicineReport" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Pprsfarm" LIMSResource="Admin.Health.PPRSFarm" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="Farm" action="PPRSList"  IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Pprstech" LIMSResource="Admin.Health.PPRSTechnician" PermissionNames="AgriUserAccess,LivestockUserAccess" controller="ServiceProvider" action="PprsTechList" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="AiReport" LIMSResource="Admin.Report.AiReport" PermissionNames="LivestockUserAccess" controller="AiReport" action="Index" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="TreatmentReport" LIMSResource="Admin.Report.TreatmentReport" PermissionNames="LivestockUserAccess" controller="MonthlyProgressReport" action="Index" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Configuration" LIMSResource="Admin.Configuration" PermissionNames="ManageLanguages,ManageACL,ManageEmailAccounts" IconClass="icon-wrench">
      <siteMapNode SystemName="Languages" LIMSResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="EmailAccounts" LIMSResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Access control list" LIMSResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Customer Roles" LIMSResource="Admin.Configuration.CustomerRoles" PermissionNames="ManageACL" controller="CustomerRoles" action="Acl" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="System" LIMSResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue" IconClass="icon-settings">
      <siteMapNode SystemName="Log" LIMSResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" IconClass="fa fa-dot-circle-o"/>
      <siteMapNode SystemName="Queued emails" LIMSResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" IconClass="fa fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>

