@model AanudanModel
<div class="x_content form">
    <div class="form-row">
        <div class="form-body">
            <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="FiscalyearId" />
                    <admin-select asp-for="FiscalyearId" asp-items="@ViewBag.FiscalYearId" />
                    <span asp-validation-for="FiscalyearId"></span>

                </div>
            </div>
            <div class="col-md-3 col-sm-3">

                <div class="form-group">
                    <admin-label asp-for="PujigatKharchaKaryakramId" />
                    <admin-select asp-for="PujigatKharchaKaryakramId" asp-items=" ViewBag.pujigatKaryakram" />
                    <span asp-validation-for="PujigatKharchaKaryakramId"></span>

                </div>
            </div>
            <div class="col-md-3">

                <div class="form-group">
                    <admin-label asp-for="KrishakKoName" />
                    <admin-input asp-for="KrishakKoName" />
                    <span asp-validation-for="KrishakKoName"></span>

                </div>
            </div>

            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="Province" />
                    <select name="Provience" id="country" data-val="Sudurpashchim Province" class="form-control">
                        <option value="">select</option>
                    </select>

                </div>
            </div>

            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="District" />
                    <select name="district" id="district" data-val="@Model.District" class="form-control">
                        <option value="">select</option>
                    </select>
                    <span asp-validation-for="District"></span>

                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="LocalLevel" />
                    <select name="LocalLevel" id="locallevel" data-val="@Model.LocalLevel" class="form-control">
                        <option value="">select</option>
                    </select>
                    <span asp-validation-for="LocalLevel"></span>

                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="Ward" />
                    <admin-input asp-for="Ward" />

                    <span asp-validation-for="Ward"></span>

                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="Tole" />
                    <admin-input asp-for="Tole" />

                    <span asp-validation-for="Tole"></span>

                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="PhoneNo" />
                    <admin-input asp-for="PhoneNo" />

                    <span asp-validation-for="PhoneNo"></span>

                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="Sex" />
                    <admin-select asp-for="Sex" asp-items="ViewBag.Sex" />

                    <span asp-validation-for="Sex"></span>

                </div>
            </div>

            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="EthinicGroup" />
                    <admin-select asp-for="EthinicGroup" asp-items="ViewBag.EthnicGroup" />

                    <span asp-validation-for="EthinicGroup"></span>

                </div>
            </div>

            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="AanudanKokisim" />
                    <admin-select asp-for="AanudanKokisim">
                        <option value="">Select</option>

                        <option value="Equipment">Equipment</option>
                        <option value="Cash">Cash</option>
                        <option value="Others">Others</option>

                    </admin-select>

                    <span asp-validation-for="AanudanKokisim"></span>

                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="AanudanRakam" />
                    <admin-input asp-for="AanudanRakam" />

                    <span asp-validation-for="AanudanRakam"></span>

                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="DateOfSubsidy" style="display:inline-block" />
                    <admin-input asp-for="DateOfSubsidy" />

                    <span asp-validation-for="DateOfSubsidy"></span>

                </div>
            </div>

            <div class="col-md-12">

                <div class="form-group">
                    <admin-label asp-for="Remarks" />
                    <admin-input asp-for="Remarks" />

                    <span asp-validation-for="Remarks"></span>

                </div>
            </div>




        </div>
    </div>
</div>
<script>
     $("document").ready(function () {
         $("#@Html.IdFor(m=>m.FiscalyearId)").change(function () {
             fiscalyear = $(this).val();
             data = {
                 fiscalyear: fiscalyear
             }
             if (fiscalyear) {
                 url = "/Admin/LabambitKrishak/GetProgram";
                 $.getJSON(url, data, function (result) {
                     $.each(result, function (i, item) {
                         $("#@Html.IdFor(m=>m.PujigatKharchaKaryakramId)").append(`<option value="${item.Id}">${item.Program}</option>`);
                     });
                 })
             }
         });
     });
</script>