<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Not found</h2>
                <p>Record not found. Thank you for your patience.</p>
                <p><a asp-controller="Home" asp-action="Index">Back To Home page.</a>|<a href="javascript:void(0);" onclick="history.go(-1);">Back to Previous</a></p>
            </div>
        </div>
    </div>
</section>