<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Record Not found</h2>
                <p>Content not found for requested page. Thank you for your patience.</p>
                <p><a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back To Home page.</a>|<a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary">Back to Previous</a></p>
            </div>
        </div>
    </div>
</section>