@model MainActivityCodeModel
<div class="x_content form">
    <div class="form-row">
        <div class="form-body">
            
            <div class="col-md-4 col-sm-4">

                <div class="form-group">
                    <admin-label asp-for="Limbis_Code" />
                    <admin-input asp-for="Limbis_Code" />
                    <span asp-validation-for="Limbis_Code"></span>

                </div>
            </div>
           

        </div>
    </div>
</div>


