.menu, .footer_block {
    background: #111
}

    .navbar-inverse .navbar-nav > li > a, .footertitle, .footer, .links ul li a, .footer_block, .homecontact a, .footer_block strong, .homecontact i, .innertitle, .breadcrumb li a, .cb_content, .main-txt, .blueblock span, .blueblock div, .innerlist .main-txt, .innerlist ul li .cb_content, .body_content .maintitle, .tabs-home.nav-tabs > li > a, .newstxt a, .body_content {
        color: #FF0
    }

.footer, .cb_content, .blueblock, .innerlist ul li .cb_content, .body_content {
    background: #000
}


.navbar-inverse .navbar-nav > li > a:hover {
    color: #000 !important;
    background: #FF0;
}

.dropdown-menu > li > a {
    background: #111;
    color: #FF0;
    border-bottom: 1px solid #FF0
}

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #000;
        background-color: #FF0;
    }

.breadcrumb > .active {
    color: #fff;
}

.cb_content a {
    color: #000;
    background: #FF0
}

    .cb_content a:hover {
        color: #FF0;
        background: #111
    }

.body_content .gray-btn {
    color: #FF0;
    border: 1px solid #FF0
}

    .body_content .gray-btn:hover {
        color: #fff;
        border: 1px solid #fff
    }

.tabs-home.nav-tabs > li.active > a, .tabs-home.nav-tabs > li.active > a:hover, .tabs-home.nav-tabs > li.active > a:focus {
    color: #fff;
    border-color: currentcolor currentcolor #fff
}

.news-date, .news-date i {
    color: #fff
}

.mainblock-wrapper {
    background: #111;
    color: #FF0;
    border: 0
}

    .mainblock-wrapper .mb-title {
        color: #FF0
    }

    .mainblock-wrapper .learnmore {
        color: #fff
    }

        .mainblock-wrapper .learnmore:hover {
            color: #FF0
        }

            .mainblock-wrapper .learnmore:hover i {
                color: #FF0;
            }

.news_slide {
    background: #111;
    color: #fff
}

.bn-title h2 {
    color: #FF0
}

.tabs-home.nav-tabs > li > a:hover, .tabs-home.nav-tabs > li > a:focus, .tabs-home.nav-tabs > li > a:active {
    color: #fff;
}

.footertitle::after {
    background: #fff
}

.navbar-inverse .navbar-nav > li > a.active {
    background-color: #FF0;
    color: #000
}


.table-striped tr th {
    background: #000;
    color: #ff0
}


.main-txt, .innerlist .main-txt {
    color: #296bc2;
}

.mainblock-wrapper p {
    color: #fff
}

.marque a {
    color: #ff0 !important
}

    .marque a:hover {
        color: #fff !important
    }

.bn-title h2 {
    color: #fff;
    padding: 14px 15px;
    background: none
}

.BreakingNewsController ul li a {
    color: #ff0 !important
}

    .BreakingNewsController ul li a:hover {
        color: #fff !important
    }
