@model LIMS.Web.Areas.Admin.Models.AInR.AnimalMovement

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">

            <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
            <div class="x_title">


            </div>
            <div class="x_content form">
                <div class="form-row">


                    <div class="col-md-2">

                        <div class="form-group">
                            <admin-label asp-for="MovementDate" />
                            <input asp-for="MovementDate" class="form-control" type="date" />
                            <span asp-validation-for="MovementDate"></span>

                        </div>
                    </div>

                    @*<div class="col-md-2">

                            <div class="form-group">
                                <admin-label asp-for="Breed" />
                                <admin-input asp-for="Breed" />
                                <span asp-validation-for="Breed"></span>

                            </div>
                        </div>*@


                  
                  
                    <div class="col-md-2">
                        <div class="form-group ">
                            <admin-label asp-for="MovementType" />
                            <admin-select asp-for="MovementType" asp-items="ViewBag.MovementType"/>
                            <span asp-validation-for="MovementType"></span>
                        </div>
                    </div>
                    @*<div class="col-md-2">
                            <div class="form-group ">
                                <admin-label asp-for="AmountReceived" />
                                <input asp-for="AmountReceived" class="form-control form-rounded" />
                                <span asp-validation-for="AmountReceived"></span>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group ">
                                <admin-label asp-for="ReceiptNo" />
                                <input asp-for="ReceiptNo" class="form-control form-rounded" />
                                <span asp-validation-for="ReceiptNo"></span>
                            </div>
                        </div>*@
                    <div class="col-md-2">
                        <div class="form-group ">
                            <admin-label asp-for="ToFarm" />
                            <admin-select asp-for="ToFarm" asp-items="ViewBag.Farm" />
                            <span asp-validation-for="ToFarm"></span>
                        </div>
                    </div>
                 

                    <div class="col-md-12">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save" style="font-size:13px;"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue" style="font-size:13px;"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
