@model LIMS.Web.Areas.Admin.Models.Services.PregnencyTerminationModel
@inject AdminAreaSettings adminAreaSettings
<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">

            <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
            <div class="x_title">


            </div>
            <div class="x_content form">
                <div class="form-row">
                    <div class="form-body">



                        <div class="col-md-2">
                            <div class="form-group ">
                                <admin-label asp-for="TerminationType" />
                                <admin-select asp-for="TerminationType" asp-items="ViewBag.TerminationType" />
                                <span asp-validation-for="TerminationType"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group ">
                                <admin-label asp-for="TerminationDate" />
                                <input asp-for="TerminationDate" class="form-control form-rounded" />
                                <span asp-validation-for="TerminationDate"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group ">
                                <admin-label asp-for="FiscalYear" />
                                <admin-select asp-for="FiscalYear" asp-items="@ViewBag.FiscalYear" class="form-control form-rounded" />
                                <span asp-validation-for="FiscalYear"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <admin-label asp-for="Reason" />
                                <input asp-for="Reason" class="form-control form-rounded" />
                                <span asp-validation-for="Reason"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="btn-group btn-group-devided">
                                <button class="btn btn-success" type="submit" name="save" style="font-size:13px;"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                                <button class="btn btn-success" type="submit" name="save-continue" style="font-size:13px;"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>