@model LIMS.Web.Areas.Admin.Models.Services.PregnencyDiagnosisModel
<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">

            <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
            <div class="x_title">


            </div>
            <div class="x_content form">
                <div class="form-row">
                    
                        <div class="col-md-2">
                            <div class="form-group ">
                                <admin-label asp-for="ServiceName" />
                                <admin-select asp-for="ServiceName" asp-items="ViewBag.Method" />
                                <span asp-validation-for="ServiceName"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group ">
                                <admin-label asp-for="Date" />
                                <input asp-for="Date" type="date" class="form-control form-rounded" />
                                <span asp-validation-for="Date"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <admin-label asp-for="Result" />
                                <br />
                                <input type="radio" class="radio" asp-for="Result" value="Pregnancy " />Pregnent
                                <input type="radio" class="radio" asp-for="Result" value="NonPregnency" />Non-Pregnent
                                <span asp-validation-for="Result"></span>
                            </div>
                        </div>
                      
                        @*<div class="col-md-2">
                            <div class="form-group ">
                                <admin-label asp-for="OtherServiceProviced" />
                                <br />
                                <input type="radio" class="radio" asp-for="OtherServiceProviced" value="Yes" />Yes
                                <input type="radio" class="radio" asp-for="OtherServiceProviced" value="No" />No
                                <span asp-validation-for="OtherServiceProviced"></span>
                            </div>
                        </div>*@
                        <div class="clearfix"></div>
                        <div class="col-md-2">
                            <div class="form-group ">
                                <admin-label asp-for="Technician" />
                                <input asp-for="Technician" class="form-control form-rounded" />
                                <span asp-validation-for="Technician"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group ">
                                <admin-label asp-for="FiscalYearId" />
                                <admin-select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYear" class="form-control" />
                                <span asp-validation-for="FiscalYearId"></span>
                            </div>
                        </div>
                        <div class="col-md-12" id="reason">
                            <div class="form-group ">
                                <admin-label asp-for="Reason" />
                                <admin-input asp-for="Reason"  class="form-control" />
                                <span asp-validation-for="Reason"></span>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <button class="btn btn-success" type="submit" name="save" style="font-size:13px;"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue" style="font-size:13px;"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    
</div>
<script>
    $(document).ready(function () {
        $('#reason').hide();
        $(':radio[name=Result]').change(function () {

            var value = $(this).val();
            if (value == 'NonPregnency') {
                $('#reason').show();
            }
            else {
                $('#reason').hide();

            }
        })
    });
</script>