@model LIMS.Web.Areas.Admin.Models.Breed.SpeciesModel
@{
    //page title
    ViewBag.Title = "Species";
}
<form  method="post">

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                        </div>
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
                <div class="x_content form">
                    <div class="form-row">
                        <div class="form-body">
                            <div class="col-md-6 col-sm-6">

                                <div class="form-group">
                                    <admin-label asp-for="EnglishName"></admin-label>
                                    <admin-input asp-for="EnglishName" type="text" class="form-control" />
                                    <span asp-validation-for="EnglishName"></span>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">

                                <div class="form-group">
                                    <admin-label asp-for="NepaliName"/>
                                    <admin-input asp-for="NepaliName" />
                                    <span asp-validation-for="NepaliName"></span>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
</form>
