@model LIMS.Website1.Models.LabelModel
@using LIMS.Website1.Data
@inject IGetLabel _lbl
@{
    ViewData["Title"] = "Labels";
    Layout = "~/Views/Shared/_layoutDolfd.cshtml";
}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>@{_lbl.GetByName("Label.Title", "");}</h2>
        </div>
        <form asp-action="CreateUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    <label class="control-label">English</label>
                    <input asp-for="EnglishName" class="form-control" />
                    <span asp-validation-for="EnglishName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Nepali</label>
                    <input asp-for="NepaliName" class="form-control" />
                    <span asp-validation-for="NepaliName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>




