@model List<LIMS.Website1.Models.LabelModel>
@{
    Layout = "~/Views/Shared/_layoutDolfd.cshtml";  
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Labels</h2>
            <p>
                <a asp-action="CreateUpdate" class="btn btn-success"><i class="ion-plus"></i> Create New</a>
            </p>
            <table class="table table-bordered" id="tbl">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            English
                        </th>
                        <th>
                            Nepali
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnglishName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NepaliName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "CreateUpdate", new { title = item.Title })
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Dolfd/js/jquery-3.3.1.min.js"></script>

<script>
    $(function () {
        $("#tbl").DataTable();
        //{
        //    "columnDefs": [

        //        { "orderable": false, "targets": 2 },



        //    ],
        //});
    })
</script>
