@model TalimModel

<div class="x_content form">
        <div class="form-body">
            <div class="col-md-4 col-sm-4">

                <div class="form-group">
                    <admin-label asp-for="NameEnglish" />
                    <input asp-for="NameEnglish" class="form-control" required="required" />
                    <span asp-validation-for="NameEnglish"></span>

                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    <admin-label asp-for="NameNepali" />
                    <admin-input asp-for="NameNepali" />
                    <span asp-validation-for="NameNepali"></span>

                </div>
            </div>

            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="StartDate" />
                    <admin-input asp-for="StartDate" required="required" />
                    <span asp-validation-for="StartDate"></span>

                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="EndDate" />
                    <admin-input asp-for="EndDate" required="required" />
                    <span asp-validation-for="EndDate"></span>

                </div>
            </div>
            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="Duration" />
                    <admin-input asp-for="Duration" />

                    <span asp-validation-for="Duration"></span>

                </div>
            </div>


            <div class="col-md-2">

                <div class="form-group">
                    <admin-label asp-for="FiscalYearId" />
                    <admin-select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYearId" required="required">

                    </admin-select>
                    <span asp-validation-for="FiscalYearId"></span>

                </div>
            </div>
            <div class="col-md-8 col-sm-8">

                <div class="form-group">
                    <admin-label asp-for="PujigatKharchaKaryakramId" />
                    <admin-select asp-for="PujigatKharchaKaryakramId" required="required">
                        <option value="">Select</option>

                    </admin-select>

                    <span asp-validation-for="PujigatKharchaKaryakramId"></span>

                </div>
            </div>

            <div class="col-md-12">

                <div class="form-group">
                    <admin-label asp-for="Description" />
                    <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Description"></span>

                </div>
            </div>

        </div>
    </div>
<script>
     $("document").ready(function () {
         $("#@Html.IdFor(m=>m.FiscalYearId)").change(function () {
             fiscalyear = $(this).val();
             data = {
                 fiscalyear: fiscalyear
             }
             if (fiscalyear) {
                 url = "/Admin/LabambitKrishak/GetTrainingProgram";
                 $.getJSON(url, data, function (result) {
                     $.each(result, function (i, item) {
                         $("#@Html.IdFor(m=>m.PujigatKharchaKaryakramId)").append(`<option value="${item.Id}">${item.Program}</option>`);
                     });
                 })
             }
         });
     });
</script>