@model NewsEventViewModel
    <section class="newsevents">
        <div class="container-fluid">
                    <partial name="_listDetailsPartial.cshtml" model="@Model" />
            </div>
        
    </section>