<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Pdf</title>
    @{
        Layout =null;
    }
    <link href="~/content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS for styling -->
    <link rel="stylesheet" href="~/content/print.css">
</head>
<body>
    <!-- Div to place the transferred content -->
    <div id="transferredContent" class="container">
        <!-- Content will be placed here -->
    </div>

    <script src="~/scripts/print.js" defer></script>
</body>
</html>