@model LIMS.Web.Models.Customer.ResetModel

<div class="page password-recovery-page">
    <div class="mb-2 w-100">
        <div class="row flex-md-row justify-content-center text-center my-3">

            <div class="card p-3 bg-light">
                <h2 class="generalTitle">@T("Account.ChangePassword")</h2>
               
                    <form method="post" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="form-horizontal">
                            <div class="form-fields">
                                <div class="inputs">
                                    <label asp-for="Email" class="col-form-label">@T("Account.PasswordRecovery.Email"):</label>
                                    <input asp-for="Email" class="form-control" />
                                </div>
                                <div class="inputs">
                                    <label asp-for="NewPassword" class="col-form-label">@T("Account.PasswordRecovery.NewPassword"):</label>
                                    <input asp-for="NewPassword" class="form-control" />
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12 text-xs-center btn-group-sm my-3">
                                    <input type="submit" name="set-password" class="btn btn-secondary new-password-button" value="@T("Account.ChangePass")" />
                                </div>
                            </div>
                        </div>
                    </form>
               
            </div>
        </div>
    </div>
</div>
