@model LIMS.Web.Areas.Admin.Models.Services.ServiceProviderModel
@{
    //page title
    ViewBag.Title = "Farm";
}
<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">

                
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
                <div class="x_content form">
                    <div class="form-row">
                        <div class="form-body">


                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="NameNepali" />
                                    <admin-input asp-for="NameNepali" />
                                    <span asp-validation-for="NameNepali"></span>

                                </div>
                            </div>
                            @*<div class="col-md-2">

            <div class="form-group">
                <admin-label asp-for="NameEnglish" />
                <admin-input asp-for="NameEnglish" />
                <span asp-validation-for="NameEnglish"></span>

            </div>
        </div>


        <div class="col-md-2">

            <div class="form-group">
                <admin-label asp-for="Provience" />
                <admin-select asp-for="Provience" data-val="@Model.Provience" id="country" />
                <span asp-validation-for="Provience"></span>

            </div>
        </div>

        <div class="col-md-2">

            <div class="form-group">
                <admin-label asp-for="District" />
                <select id="district" name="District" data-val="@Model.District" class="form-control">
                    <option value="">select</option>
                </select>
                <span asp-validation-for="District"></span>

            </div>
        </div>*@
                            <div class="col-md-3">
                                <div class="form-group">
                                    <admin-label asp-for="LocalLevel" />
                                    <select asp-for="LocalLevel" asp-items="@ViewBag.LocalLevels" class="form-control">
                                    </select>
                                    <span asp-validation-for="LocalLevel"></span>
                                </div>
                            </div>
                            <div class="col-md-1">

                                <div class="form-group">
                                    <admin-label asp-for="Ward" />
                                    <admin-input asp-for="Ward" />
                                    <span asp-validation-for="Ward"></span>

                                </div>
                            </div>

                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="Tole" />
                                    <admin-input asp-for="Tole" />
                                    <span asp-validation-for="Tole"></span>

                                </div>
                            </div>



                            <div class="col-md-2 ">

                                <div class="form-group">
                                    <admin-label asp-for="MobileNo" />
                                    <admin-input asp-for="MobileNo" />
                                    <span asp-validation-for="MobileNo"></span>

                                </div>
                            </div>
                            @if (Model.CustomerId != null)
                            {
                                <div class="col-md-3">

                                    <div class="form-group">
                                        <admin-label asp-for="Email" />
                                        <input type="Email" asp-for="Email" class="form-control" readonly />
                                        <span asp-validation-for="Email"></span>

                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-3">

                                    <div class="form-group">
                                        <admin-label asp-for="Email" />
                                        <admin-input asp-for="Email" />
                                        <span asp-validation-for="Email"></span>

                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <div class="form-group">
                                        <admin-label asp-for="Password" />
                                        <admin-input asp-for="Password" />
                                        <span asp-validation-for="Password"></span>

                                    </div>
                                </div>
                            }
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="ProfessionalType" />
                                    <admin-select asp-for="ProfessionalType" asp-items="ViewBag.ServiceProviderType" id="profeesiontype" />

                                    <span asp-validation-for="ProfessionalType"></span>

                                </div>
                            </div>


                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="Designation" />
                                    <select class="form-control" name="Designation" id="vetgraduate">
                                        <option value=""> select designation</option>
                                    </select>
                                    <span asp-validation-for="Designation"></span>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="Type" />
                                    <admin-select asp-for="Type" asp-items="ViewBag.Type" />

                                    <span asp-validation-for="Type"></span>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="StartDate" />
                                    <admin-input asp-for="StartDate" />

                                    <span asp-validation-for="StartDate"></span>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="PanNo" />
                                    <admin-input asp-for="PanNo" />
                                    <span asp-validation-for="PanNo"></span>

                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">
                                    <admin-label asp-for="MunicipalityTaxIdentificationNumber" />
                                    <admin-input asp-for="MunicipalityTaxIdentificationNumber" />
                                    <span asp-validation-for="MunicipalityTaxIdentificationNumber"></span>

                                </div>
                            </div>
                            @*<div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="IsPprs" /><br />
                                    <input type="radio" class="radio" asp-for="IsPprs" value="True" />Yes
                                    <input type="radio" class="radio" asp-for="IsPprs" value="False" />No
                                    <span asp-validation-for="IsPprs"></span>

                                </div>
                            </div>*@

                            <div class="col-md-1">

                                <div class="form-group">

                                    <label class="control-label">
                                        IsActive
                                    </label>                                <br />

                                    <input type="checkbox" asp-for="IsActive" />
                                </div>
                            </div>



                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</form>



<script>
    $(document).ready(function () {
       


        $("#profeesiontype").on("change", function () {
            var categoryId = $(this).val();
            $("#vetgraduate").empty();
            $("#vetgraduate").append("<option value=''>select designation</option>");
            url = "/Admin/Prototype/GetVetGraduate";
            $.getJSON(url, { type: categoryId }, (data) => {
                $.each(data, function (i, item) {

                    $("#vetgraduate").append(`<option value="${item.Text}">${item.Text}</option>`);
                });
            });
        });



    });


</script>
