@using LIMS.Web.Areas.Admin.Models.DynamicMenu
@model MainMenuModel

<div class="x_content form">
    <div class="form-row">
        <input type="hidden" asp-for="Id" />

            <div class="col-md-3">
                <div class="form-group">
                    <admin-label asp-for="SerialNo" />
                    <admin-input asp-for="SerialNo" />
                    <span asp-validation-for="SerialNo"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <admin-label asp-for="MainMenuName" />
                    <admin-input asp-for="MainMenuName" />
                    <span asp-validation-for="MainMenuName"></span>

                </div>
            </div>
        <div class="col-md-3">
                <div class="form-group">
                    <admin-label asp-for="MainMenuNameNepali" />
                    <admin-input asp-for="MainMenuNameNepali" />
                    <span asp-validation-for="MainMenuNameNepali"></span>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <admin-label asp-for="Url" />
                    <admin-input asp-for="Url" />
                    <span asp-validation-for="Url"></span>
                </div>
            </div>


            <div class="col-md-2">
                <div class="form-group">
                    <admin-label asp-for="HasSubMenu" /><br />
                    <admin-input asp-for="HasSubMenu" />
                    <span asp-validation-for="HasSubMenu"></span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <admin-label asp-for="IsActive" /><br />
                    <admin-input asp-for="IsActive" />
                    <span asp-validation-for="IsActive"></span>
                </div>
            </div>



        </div>
    </div>


