
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MoLMAC, Sudurpaschim Province</title>
    <link type="image/png" rel="icon" href="https://mocit.gov.np/application/resources/site/img/logo.png">
    <!-- CORE CSS -->
    <link rel="stylesheet" href="~/dolfd/css/bootstrap.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css" integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @*<link rel="stylesheet" href="https://mocit.gov.np/application/resources/site/plugins/font/css/font-awesome.css">
        <link rel="stylesheet" href="https://mocit.gov.np/application/resources/site/plugins/icon-fonts/style.css">
        <link rel="stylesheet" href="https://mocit.gov.np/application/resources/site/plugins/lightbox/css/lightgallery.css">
        <link rel="stylesheet" href="https://mocit.gov.np/application/resources/site/plugins/timeline/css/style.css">
        <link rel="stylesheet" href="https://mocit.gov.np/application/resources/site/plugins/timeline/slick.min.css">
        <link rel="stylesheet" href="https://mocit.gov.np/application/resources/site/plugins/marquee/ticker.css">*@
    <link rel="stylesheet" href="~/dolfd/css/custom_style.css">
    <link href="~/Dolfd/css/layout.css" rel="stylesheet" />


    <!-- <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5e2e7576663d2500122cabdd&product=inline-share-buttons" async="async"></script> -->
</head>
<body class="np">
    <div class="wrapper">
        @await Component.InvokeAsync("Header")

        <div class="clearfix"></div>
    </div>
    <div class="container-fluid">

        @RenderBody()
    </div>

    <footer>
        @await Component.InvokeAsync("Footer")
    </footer>
    <div class="copyright">
        <div class="container-fluid">
            <div class="row">

                <input type="hidden" name="baseurl" id="baseurl" value="https://mocit.gov.np/">
                <div class="col-12 col-md-12">
                    <div class="c-c" style="text-align: center;">
                        © Copyright 2018.  MoLMAC, Sudurpaschim Province, All Right Reserved.
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/cjs/popper.min.js" integrity="sha512-aVYFpZTHCqEDf+aCtROokVF2yI0TPQSn+RnpTtbCqoCWMgDYNTkptX2GzBXhCz28AS32EYUzza5xwDerTLXMtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Dolfd/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/store.js/2.0.1/store.legacy.min.js" integrity="sha512-XbzqqqogVHe2RPEnKNxzuW+57fuEDGL4O6wdxh/W75oJjbgpwa1KHB4XpUZ2rMT/hhRUI1L1n9hNpMvSJb6DiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Dolfd/js/rv-jquery-fontsize-2.0.3.js"></script>
    <script src="~/Dolfd/js/easyview.js"></script>
    <!--<script src="https://mocit.gov.np/application/resources/site//js/jquery2.1.4.min.js"></script>
    <script src="https://mocit.gov.np/application/resources/site//js/jquery-3.3.1.slim.min.js"></script>
    <script src="https://mocit.gov.np/application/resources/site//js/popper.min.js"></script>
    <script src="https://mocit.gov.np/application/resources/site//js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://mocit.gov.np/application/resources/site/plugins/marquee/ticker.js" rel="javascript"></script>
    <script type="text/javascript" src="https://mocit.gov.np/application/resources/site//js/plugins/store.min.js"></script>
    <script type="text/javascript" src="https://mocit.gov.np/application/resources/site//js/plugins/rv-jquery-fontsize-2.0.3.min.js"></script>
    <script type="text/javascript" src="https://mocit.gov.np/application/resources/site//js/plugins/easyview.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6xiZa9UcSy2YlfTZyeLXuc1beOr544Ak&callback=initMap"></script>-->
    <!-- <script type="text/javascript" src="https://mocit.gov.np/application/resources/site/js/maps.googleapis.js"></script> -->




    <script type="text/javascript">
        $(document).ready(function () {
            $.rvFontsize({
                targetSection: 'body',
                store: true, // store.min.js required!
                controllers: {
                    appendTo: '#rvfs-controllers',
                    showResetButton: true
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lightgallery').lightGallery();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js" integrity="sha512-Nh/FthCqOFq56kGp1DsNb6GKK29iIv2ZJc7Fylln1WRrWpeE5LjSBWeAp61dkBASDxZT12aL9mZyIrhsAqgRpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js" integrity="sha512-jEJ0OA9fwz5wUn6rVfGhAXiiCSGrjYCwtQRUwI/wRGEuWRZxrnxoeDoNc+Pnhx8qwKVHs2BRQrVR9RE6T4UHBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" integrity="sha512-rCjfoab9CVKOH/w/T6GbBxnAH5Azhy4+q1EXW5XEURefHbIkRbQ++ZR+GBClo3/d3q583X/gO4FKmOFuhkKrdA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.css" integrity="sha512-z2AFOVKBqcloFCT+Ugs0icqTfC8fBoGq2zP60MlESnL9CdusjEyVnNvHgs3RWtdMJxGkP0FDWfNp/puIP9CctA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.3/smooth-scroll.min.js" integrity="sha512-HYG9E+RmbXS7oy529Nk8byKFw5jqM3R1zzvoV2JnltsIGkK/AhZSzciYCNxDMOXEbYO9w6MJ6SpuYgm5PJPpeQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--<script src="https://mocit.gov.np/application/resources/site//plugins/lightbox/js/picturefill.min.js"></script>
    <script src="https://mocit.gov.np/application/resources/site//plugins/lightbox/js/lightgallery-all.min.js"></script>
    <script src="https://mocit.gov.np/application/resources/site//plugins/lightbox/js/jquery.mousewheel.min.js"></script>
    <script src="https://mocit.gov.np/application/resources/site//plugins/timeline/js/jquery.mobile.custom.min.js"></script>
    <script src="https://mocit.gov.np/application/resources/site//plugins/timeline/js/main.js"></script>-->
    <!-- Resource jQuery -->
    <!--<script src="https://mocit.gov.np/application/resources/site/js/scroll.js"></script>--> <!-- Resource jQuery -->
    <!--<script src="https://mocit.gov.np/application/resources/site/js/scrollhelper.js"></script>--> <!-- Resource jQuery -->
    <script src="~/Dolfd/js/site.js"></script>
    <script src="~/Dolfd/js/fontSize.js"></script>
    <script src="~/Dolfd/js/EngToNep.js"></script>
    <script src="~/Dolfd/js/nepali.datepicker.v2.2.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('.timeline-nav').slick({
                slidesToShow: 12,
                slidesToScroll: 1,
                asNavFor: '.timeline-slider',
                centerMode: false,
                focusOnSelect: true,
                mobileFirst: true,
                arrows: false,
                infinite: false,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 8,
                        }
                    },
                    {
                        breakpoint: 0,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 2,
                        }
                    }
                ]
            });

            $('.timeline-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                asNavFor: '.timeline-nav',
                centerMode: true,
                cssEase: 'ease',
                edgeFriction: 0.5,
                mobileFirst: true,
                speed: 500,
                responsive: [
                    {
                        breakpoint: 0,
                        settings: {
                            centerMode: false
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            centerMode: true
                        }
                    }
                ]
            });

        });

        $(function () {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();

            var formatToday = yyyy + '-' + mm + '-' + dd;
            var todayBS = EngToNep(AD2BS(formatToday));

            var index = today.getDay();
            var weekDay = getDay(index);

            $(".dateandtime span").html(weekDay + ',' + todayBS);

        })
    </script>
    @*<script type="text/javascript" src="https://mocit.gov.np/application/resources/site/plugins/timeline/slick.min.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $("#contentdetail table").addClass("table table-bordered table-condensed table-hover table-striped");
            $("body").addClass("high");
            var baseurl = $('#baseurl').val();
            $("#btnfrmcontactussubmit").click(function (e) {
                $('#loading').removeClass('d-none');
                var formdata = $("#frmcontactus").serialize();
                e.preventDefault();
                $(".fullname-error").html("");
                $(".email-error").html("");
                $(".telephone-error").html("");
                $(".fax-error").html("");
                $(".subject-error").html("");
                $(".message-error").html("");

                $.ajax({
                    url: baseurl + 'ajaxcontactusform',
                    type: 'POST',
                    data: formdata,
                })
                    .done(function (resp) {
                        console.log(resp);
                        $('#loading').addClass('d-none');
                        response = jQuery.parseJSON(resp);
                        if (response.status == 'error') {
                            if (response.data.fullname) {
                                $('.fullname-error').html(response.data.fullname);
                            }
                            if (response.data.email) {
                                $('.email-error').html(response.data.email);
                            }
                            if (response.data.telephone) {
                                $('.telephone-error').html(response.data.telephone);
                            }
                            if (response.data.fax) {
                                $('.fax-error').html(response.data.fax);
                            }
                            if (response.data.subject) {
                                $('.subject-error').html(response.data.subject);
                            }
                            if (response.data.message) {
                                $('.message-error').html(response.data.message);
                            }
                        }
                        if (response.status == 'success') {
                            $('.loading').addClass('hidden');
                            alert(response.messagedata);
                            window.location.href = baseurl + 'contact-us';
                        }
                    })
                    .fail(function (resp) {
                        console.log(resp);
                        console.log("error");
                    });
            });
        });
        // for
        $(".s-ss").click(function () {
            $('.nav-link').parent().removeClass("act-ve");
            $(this).parent().addClass("act-ve");
        });

        $(".sublist > .nav-link").click(function () {
            $('.nav-link').removeClass("active show");
            $(this).addClass("active show");

            $('.sub-area').removeClass("active show");
            var attid = $(this).attr('href');
            $('.sub-child').removeClass("active show");
            $(attid).addClass("active show");
        });
        $(".main-tab").click(function () {
            $('.nav-item').removeClass("act-ve");
        });
    </script>
    <script>
        $(document).ready(function () {
            var baseurl = 'https://mocit.gov.np/';
            $(".give-feedback").click(function () {
                var modelId = $(this).val();
                $("#econsultation-" + modelId).click(function (e) {
                    $('.loading').removeClass('hidden');
                    var formdata = $("#frmeconsultation-" + modelId).serialize();
                    e.preventDefault();
                    $(".fullname-error").html("");
                    $(".telephone-error").html("");
                    $(".message-error").html("");
                    $.ajax({
                        url: baseurl + 'econsultations/ajaxConsultationsForm',
                        type: 'POST',
                        data: formdata,
                    })
                        .done(function (resp) {
                            console.log(resp);
                            $('.loading').addClass('hidden');
                            response = jQuery.parseJSON(resp);
                            if (response.status == 'error') {
                                if (response.data.fullname) {
                                    $('.fullname-error').html(response.data.fullname);
                                }
                                if (response.data.telephone) {
                                    $('.telephone-error').html(response.data.telephone);
                                }
                                if (response.data.message) {
                                    $('.message-error').html(response.data.message);
                                }
                            }
                            if (response.status == 'success') {
                                $('.loading').addClass('hidden');
                                alert(response.messagedata);
                                window.location.href = baseurl + 'econsultations';
                            }
                        })
                        .fail(function (resp) {
                            console.log(resp);
                            console.log("error");
                        });
                });
            });
        });
    </script>
    <script>
        function initMap() {
            var chicago = new google.maps.LatLng(27.695494, 85.327474);

            var map = new google.maps.Map(document.getElementById('map'), {
                center: chicago,
                zoom: 18
            });

            var coordInfoWindow = new google.maps.InfoWindow();
            coordInfoWindow.setContent(createInfoWindowContent(chicago, map.getZoom()));
            coordInfoWindow.setPosition(chicago);
            coordInfoWindow.open(map);

            map.addListener('zoom_changed', function () {
                coordInfoWindow.setContent(createInfoWindowContent(chicago, map.getZoom()));
                coordInfoWindow.open(map);
            });
        }

        var TILE_SIZE = 256;

        function createInfoWindowContent(latLng, zoom) {
            var scale = 1 << zoom;

            var worldCoordinate = project(latLng);

            var pixelCoordinate = new google.maps.Point(
                Math.floor(worldCoordinate.x * scale),
                Math.floor(worldCoordinate.y * scale));

            var tileCoordinate = new google.maps.Point(
                Math.floor(worldCoordinate.x * scale / TILE_SIZE),
                Math.floor(worldCoordinate.y * scale / TILE_SIZE));

            return [
                '<h3 class="sharp" style="width:300px;">Ministry of Communication and Information Technology</h3><p class="c-address">													Singha Durbar, Kathmandu</p><ul class="list-unstyled"><li class="c-phone">Phone: +977-1-4211556</li><li class="c-fax">Fax: +977-1-4211729</li>													<li class="c-audio">Audio Notice Board :1618014200439 </li><li class="c-email">Email : info@mocit.gov.np</li>													<li class="c-website">Website : http://www.mocit.gov.np</li><li class="c-schedule">Working Hour : 9:00 AM - 17:00 PM</li>												</ul> '
            ].join('<br>');
        }

        // The mapping between latitude, longitude and pixels is defined by the web
        // mercator projection.
        function project(latLng) {
            var siny = Math.sin(latLng.lat() * Math.PI / 180);

            // Truncating to 0.9999 effectively limits latitude to 89.189. This is
            // about a third of a tile past the edge of the world tile.
            siny = Math.min(Math.max(siny, -0.9999), 0.9999);

            return new google.maps.Point(
                TILE_SIZE * (0.5 + latLng.lng() / 360),
                TILE_SIZE * (0.5 - Math.log((1 + siny) / (1 - siny)) / (4 * Math.PI)));
        }
    </script>
    @*<script type="text/javascript" src="https://mocit.gov.np/application/resources/site/js/velocity.min.js"></script>
        <script type="text/javascript" src="https://mocit.gov.np/application/resources/site/js/velocity.ui.min.js"></script>*@
    <script type="text/javascript" src="~/dolfd/js/site.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Dolfd/js/bootstrap.min.js"></script>

    <style type="text/css">
        .error {
            color: red;
        }
    </style>

    <script type="text/javascript">
        // Opening animation

        $.Velocity.RegisterEffect('fadeInPanels', {
            defaultDuration: 500,
            calls: [
                [{
                    opacity: [1, 0.3],
                    scale: [1, 0.5]
                }]
            ]
        });

        $('.panel').velocity('fadeInPanels', {
            stagger: 250,
        })

        // Accordions

        $('.accordion-link').click(function (e) {

            e.preventDefault();

            var accordionWrapper = $(this).closest('.accordion'),
                accordionActivePanel = $(this).closest('.panel'),
                accordionActiveLink = accordionWrapper.find('.active');

            if ($(this).closest('.panel').find('.content-collapse').hasClass('velocity-animating')) {
                return false;
            } else if (e.handled !== true) {
                accordionActiveLink.closest('.panel').find('.content-collapse').attr('aria-expanded', false).velocity('slideUp', {
                    easing: 'easeOutQuad'
                });
                if ($(this).hasClass('active')) {
                    $(this).attr('aria-expanded', false).removeClass('active');
                } else {
                    accordionActivePanel.find('.content-collapse').attr('aria-expanded', true).velocity('slideDown', {
                        easing: 'easeOutQuad'
                    });
                    accordionWrapper.find('.accordion-link').removeClass('active').attr('aria-expanded', false);
                    $(this).attr('aria-expanded', true).addClass('active');
                }
                e.handled = true;
            } else {
                return false;
            }
        });

        // Toggles

        $('.toggle-link').click(function (e) {

            e.preventDefault();

            var toggleActivePanel = $(this).closest('.panel');

            if (toggleActivePanel.find('.content-collapse').hasClass('velocity-animating')) {
                return false;
            } else if (e.handled !== true) {
                if ($(this).hasClass('active')) {
                    toggleActivePanel.find('.content-collapse').attr('aria-expanded', false).velocity('slideUp', {
                        easing: 'easeOutQuad'
                    });
                    $(this).attr('aria-expanded', false).removeClass('active');
                } else {
                    toggleActivePanel.find('.content-collapse').attr('aria-expanded', true).velocity('slideDown', {
                        easing: 'easeOutQuad'
                    });
                    $(this).attr('aria-expanded', true).addClass('active');
                }
                e.handled = true;
            } else {
                return false;
            }
        });
    </script>
    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fa-download").html(" ");
        });
    </script>
</body>
</html>