<nav class="nav-main">

    <ul id="topMain" class="nav nav-pills nav-main">
        <li>
            <!-- HOME -->
            <a href="#DoLFD-DoAD">Home	</a>

        </li>

        <li class="dropdown">
            <!-- about us -->
            <a class="dropdown-toggle" href="#">About US</a>
            <ul class="dropdown-menu">
                <li class="dropdown">
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Objectives</a></li>
                <li><a href="#">Staff Lists</a></li>
        </li>

    </ul>
    </li>

    <li class="dropdown">
        <!-- Reports -->
        <a class="dropdown-toggle" href="#">Reports</a>
        <ul class="dropdown-menu">
            <li class="dropdown">

            <li><a href="#">Report A</a></li>
            <li><a href="#">Report B</a></li>
            <li><a href="#">Report C</a></li>

    </li>

    </ul>
    </li>
    <li class="dropdown">
        <!-- Notice -->
        <a class="dropdown-toggle" href="#">Notice Board</a>
        <ul class="dropdown-menu">
            <li class="dropdown">
            <li><a href="#">Notices</a></li>
            <li><a href="#">News</a></li>
    </li>

    </ul>
    </li>

    <li class="dropdown">
        <!-- Publications -->
        <a class="dropdown-toggle" href="#">Publications</a>
        <ul class="dropdown-menu">
            <li class="dropdown">
            <li><a href="#">Publication 1</a></li>
            <li><a href="#">Publication 2</a></li>
            <li><a href="#">Circular</a></li>
            <li><a href="#">Downloads</a></li>

    </li>

    </ul>
    </li>
    <li class="dropdown">
        <!-- Publications -->
        <a class="dropdown-toggle" href="#">Main manu 6</a>
        <ul class="dropdown-menu">
            <li class="dropdown">
            <li><a href="#">Child menu 1</a></li>
            <li><a href="#">Child menu 2</a></li>
            <li><a href="#">Child menu 3</a></li>

    </li>

    </ul>
    </li>
    <li class="dropdown">
        <!-- Publications -->
        <a class="dropdown-toggle" href="#">Main manu 7</a>
        <ul class="dropdown-menu">
            <li class="dropdown">
            <li><a href="#">Child menu 1</a></li>
            <li><a href="#">Child menu 2</a></li>
            <li><a href="#">Child menu 3</a></li>

    </li>

    </ul>
    </li>
    </ul>
</nav>


