@model CustomerModel
@{
    //page title
    ViewBag.Title = T("Admin.User.Edit").Text;
}
<form method="post" asp-action="Edit">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">


                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />

                <partial name="_CreateOrUpdate" model="Model" />

            </div>
            <div class="actions">
                <center>
                    <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                    <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                    <vc:admin-widget widget-zone="customer_details_buttons" additional-data="null" />
                </center>

            </div>
        </div>
    </div>
</form>
